<a href="#" class="event__card">
  <div class="card__image" style="background-image:url({{ event.cover.sizes.event_banner }})">
  </div>
  <div class="card__surtitle">13 nov - 5 juin</div>
  <h4 class="card__title">
    {{event.title}}
  </h4>
  <div class="card__footer">
    [ 11h30 - 13h30 ] Université de Montréal
  </div>
</a>