<a href="#" class="project__card">
  <div class="card__label">0{{key+1}}</div>
  <h4 class="card__title">{{ post.title }}</h4>
  <h4 class="card__subtitle">Repenser les revues savantes en sciences humaines à l'époque du numérique</h4>
</a>