<li class="list__item">
  <a href="{{post.link}}">
    <div class="item__title">
      {{ post.post_title }}
    </div>
    <div class="item__domain">
      Revue française des sciences de l’information et de la communication
    </div>
    <div class="item__authors">
      Peppe Cavallari
    </div>
    <div class="item__date">
      [01-08-17]
    </div>
    <div class="item__rubrics">
      {% include "./components/single-discover.twig" %}
    </div>
  </a>
</li>