  <div class="hero__container">
    <div class="grid">
      <!-- Row 1-->
      <div class="grid__row">
        <div class="grid__case">A</div>
        <div class="grid__case">D</div>
        <div class="grid__case">Y</div>
        <div class="grid__case">V</div>
        <div class="grid__case">S</div>
        <div class="grid__case">N</div>
        <div class="grid__case">E</div>
        <div class="grid__case">M</div>
        <div class="grid__case">X</div>
        <div class="grid__case">Z</div>
        <div class="grid__case">Z</div>
        <div class="grid__case">U</div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
      </div>
      <!-- End Row 1 -->
      <!-- Row 2 -->
      <div class="grid__row">
        <div class="grid__case">T</div>
        <div class="grid__case">L</div>
        <div class="grid__case">U</div>
        <div class="grid__case">D</div>
        <div class="grid__case">E</div>
        <div class="grid__case">R</div>
        <div class="grid__case">V</div>
        <div class="grid__case">U</div>
        <div class="grid__case">F</div>
        <div class="grid__case">O</div>
        <div class="grid__case">F</div>
        <div class="grid__case">M</div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case grid__case--live">
          <div class="live--icon">
            <div class="live--dot"></div>
          </div>
        </div>
        <div class="grid__case grid__case--notification">D</div>
        <div class="grid__case grid__case--notification">I</div>
        <div class="grid__case grid__case--notification">R</div>
        <div class="grid__case grid__case--notification">E</div>
        <div class="grid__case grid__case--notification">C</div>
        <div class="grid__case grid__case--notification">T</div>
        <div class="grid__case grid__case--last__notification"></div>
      </div>
      <!-- End Row 2 -->
      <!-- Row 3 -->
      <div class="grid__row">
        <div class="grid__case">R</div>
        <div class="grid__case">J</div>
        <div class="grid__case">U</div>
        <div class="grid__case grid__case--bold">H</div>
        <div class="grid__case grid__case--bold">U</div>
        <div class="grid__case grid__case--bold">M</div>
        <div class="grid__case grid__case--bold">A</div>
        <div class="grid__case grid__case--bold">N</div>
        <div class="grid__case grid__case--bold">I</div>
        <div class="grid__case grid__case--bold">T</div>
        <div class="grid__case grid__case--bold">É</div>
        <div class="grid__case">o</div>
        <div class="grid__case">N</div>
        <div class="grid__case">U</div>
        <div class="grid__case">M</div>
        <div class="grid__case">E</div>
        <a href="" alt="" class="grid__case grid__case--popUp">
        <div class="grid__case grid__case--thumbnail"></div>
        <div class="grid__case grid__case--popUp__content">
          <div class="popUp__label">Youtube</div>
          <div class="popUp__title">La performativité de la </div>
          <div class="popUp__arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9">
            <text fill="#FFF" fill-rule="evenodd" font-family="Hind-Medium, Hind" font-size="16" font-weight="400" transform="translate(-331 -19)">
                <tspan x="331" y="30">&gt;</tspan>
            </text>
          </svg>
          </div>
        </div>
        </a>
        <div class="grid__case grid__case--lastPopUp"></div>
      </div>
      <!-- End Row 3 -->
      <!-- Row 4 -->
      <div class="grid__row">
        <div class="grid__case">G</div>
        <div class="grid__case">V</div>
        <div class="grid__case">C</div>
        <div class="grid__case">L</div>
        <div class="grid__case">E</div>
        <div class="grid__case">Z</div>
        <div class="grid__case">Q</div>
        <div class="grid__case">W</div>
        <div class="grid__case">Z</div>
        <div class="grid__case">I</div>
        <div class="grid__case">Z</div>
        <div class="grid__case">K</div>
        <div class="grid__case">-</div>
        <div class="grid__case grid__case--bold">N</div>
        <div class="grid__case grid__case--bold">U</div>
        <div class="grid__case grid__case--bold">M</div>
        <div class="grid__case grid__case--bold">É</div>
        <div class="grid__case grid__case--bold">R</div>
        <div class="grid__case grid__case--bold">I</div>
        <div class="grid__case grid__case--bold">Q</div>
        <div class="grid__case grid__case--bold">U</div>
        <div class="grid__case grid__case--bold">E</div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
      </div>
      <!-- End Row 4 -->
      <!-- Row 5 -->
      <div class="grid__row">
        <div class="grid__case">E</div>
        <div class="grid__case">Y</div>
        <div class="grid__case grid__case--title">É</div>
        <div class="grid__case grid__case--title">C</div>
        <div class="grid__case grid__case--title">R</div>
        <div class="grid__case grid__case--title">I</div>
        <div class="grid__case grid__case--title">T</div>
        <div class="grid__case grid__case--title">U</div>
        <div class="grid__case grid__case--title">R</div>
        <div class="grid__case grid__case--title">E</div>
        <div class="grid__case grid__case--title">S</div>
        <div class="grid__case">8</div>
        <div class="grid__case">9</div>
        <div class="grid__case">0</div>
        <div class="grid__case">)</div>
        <div class="grid__case"></div>
        <div class="grid__case grid__case--double">
          <div class="grid__subcase"></div>
          <div class="grid__subcase"></div>
        </div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
        <div class="grid__case"></div>
      </div>
      <!-- End Row 5 -->
    </div>
  </div>