<li class="list__card">
  <a class="card"href="{{post.link}}">
    <div class="card__title">
      {{ post.post_title }}
    </div>
    <div class="card__domain">
      Revue française des sciences de l’information et de la communication
    </div>
    <div class="card__authors">
      Peppe Cavallari
    </div>
    <div class="card__date">
      [01-08-17]
    </div>
    <div class="card__rubrics">
      {{ post.terms[0].name }}
    </div>
  </a>
</li>