<div class="hero__container">
  <h1 class="hero__title">
    Écritures
    <span class="hero__title--color">numériques</span>
  </h1>
  <div class="grid">
    <!-- Row 1-->
    <div class="grid__row">
      <div class="grid__case">A</div>
      <div class="grid__case">D</div>
      <div class="grid__case">Y</div>
      <div class="grid__case">V</div>
      <div class="grid__case">S</div>
      <div class="grid__case">N</div>
      <div class="grid__case">E</div>
      <div class="grid__case">M</div>
      <div class="grid__case">X</div>
      <div class="grid__case">Z</div>
      <div class="grid__case">Z</div>
      <div class="grid__case">U</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 1 -->
    <!-- Row 2 -->
    <div class="grid__row">
      <div class="grid__case">T</div>
      <div class="grid__case">L</div>
      <div class="grid__case">U</div>
      <div class="grid__case">D</div>
      <div class="grid__case">E</div>
      <div class="grid__case">R</div>
      <div class="grid__case">V</div>
      <div class="grid__case">U</div>
      <div class="grid__case">F</div>
      <div class="grid__case">O</div>
      <div class="grid__case">F</div>
      <div class="grid__case">M</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case grid__case--live">
        <div class="live--icon grid--hidden">
          <div class="live--dot"></div>
        </div>
      </div>
      <div class="grid__case grid__case--notification">D</div>
      <div class="grid__case grid__case--notification">I</div>
      <div class="grid__case grid__case--notification">R</div>
      <div class="grid__case grid__case--notification">E</div>
      <div class="grid__case grid__case--notification">C</div>
      <div class="grid__case grid__case--notification">T</div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 2 -->
    <!-- Row 3 -->
    <div class="grid__row">
      <div class="grid__case">R</div>
      <div class="grid__case">J</div>
      <div class="grid__case">U</div>
      <div class="grid__case grid__case--bold">H</div>
      <div class="grid__case grid__case--bold">U</div>
      <div class="grid__case grid__case--bold">M</div>
      <div class="grid__case grid__case--bold">A</div>
      <div class="grid__case grid__case--bold">N</div>
      <div class="grid__case grid__case--bold">I</div>
      <div class="grid__case grid__case--bold">T</div>
      <div class="grid__case grid__case--bold">É</div>
      <div class="grid__case">o</div>
      <div class="grid__case">N</div>
      <div class="grid__case">U</div>
      <div class="grid__case">M</div>
      <div class="grid__case">E</div>
      <a href="" alt="" class="grid__case grid__case--popUp">
        <div class="grid__case grid__case--thumbnail"></div>
        <div class="grid__case grid__case--popUp__content">
          <div class="popUp__label">Youtube</div>
          <div class="popUp__title">La performativité de la
          </div>
          <div class="popUp__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewbox="0 0 8 9">
              <text fill="#FFF" fill-rule="evenodd" font-family="Hind-Medium, Hind" font-size="16" font-weight="400" transform="translate(-331 -19)">
                <tspan x="331" y="30">&gt;</tspan>
              </text>
            </svg>
          </div>
        </div>
      </a>
      <div class="grid__case grid__case--leftAdjacentBorder"></div>
    </div>
    <!-- End Row 3 -->
    <!-- Row 4 -->
    <div class="grid__row">
      <div class="grid__case">G</div>
      <div class="grid__case">V</div>
      <div class="grid__case">C</div>
      <div class="grid__case">L</div>
      <div class="grid__case">E</div>
      <div class="grid__case">Z</div>
      <div class="grid__case">Q</div>
      <div class="grid__case">W</div>
      <div class="grid__case">Z</div>
      <div class="grid__case">I</div>
      <div class="grid__case">Z</div>
      <div class="grid__case">K</div>
      <div class="grid__case">-</div>
      <div class="grid__case grid__case--bold">N</div>
      <div class="grid__case grid__case--bold">U</div>
      <div class="grid__case grid__case--bold">M</div>
      <div class="grid__case grid__case--bold">É</div>
      <div class="grid__case grid__case--bold">R</div>
      <div class="grid__case grid__case--bold">I</div>
      <div class="grid__case grid__case--bold">Q</div>
      <div class="grid__case grid__case--bold">U</div>
      <div class="grid__case grid__case--bold">E</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 4 -->
    <!-- Row 5 -->
    <div class="grid__row grid--hidden">
      <div class="grid__case">E</div>
      <div class="grid__case">Y</div>
      <div class="grid__case grid__case--title title__first">É</div>
      <div class="grid__case grid__case--title">C</div>
      <div class="grid__case grid__case--title">R</div>
      <div class="grid__case grid__case--title">I</div>
      <div class="grid__case grid__case--title">T</div>
      <div class="grid__case grid__case--title">U</div>
      <div class="grid__case grid__case--title">R</div>
      <div class="grid__case grid__case--title">E</div>
      <div class="grid__case grid__case--title">S</div>
      <div class="grid__case">8</div>
      <div class="grid__case">9</div>
      <div class="grid__case">0</div>
      <div class="grid__case">)</div>
      <div class="grid__case"></div>
      <div class="grid__case grid__case--double">
        <div class="grid__subcase"></div>
        <div class="grid__subcase">
          <svg width="20px" height="16px" viewbox="0 0 20 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 50 (54983) - http://www.bohemiancoding.com/sketch -->
            <title>right</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Toutes-les-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.2">
              <g id="Desktop---Home" transform="translate(-992.000000, -303.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="Landing">
                  <g id="Keyboard" transform="translate(261.000000, 285.000000)">
                    <g id="Delete" transform="translate(665.000000, 0.000000)">
                      <g id="right" transform="translate(76.000000, 26.000000) scale(-1, 1) translate(-76.000000, -26.000000) translate(66.000000, 18.000000)">
                        <path d="M12.0833285,15.9166595 C11.9766619,15.9166595 11.8699953,15.8758262 11.7883286,15.7949929 C11.6258287,15.6324929 11.6258287,15.3683264 11.7883286,15.2058265 L18.9941591,7.999996 L11.789162,0.794998882 C11.626662,0.632498947 11.626662,0.368332386 11.789162,0.205832451 C11.9516619,0.043332516 12.2158284,0.043332516 12.3783284,0.205832451 L19.8783254,7.70582945 C20.0408253,7.86832939 20.0408253,8.13249595 19.8783254,8.29499588 L12.3783284,15.7949929 C12.2966617,15.8758262 12.1899951,15.9166595 12.0833285,15.9166595 Z" id="Shape"></path>
                        <path d="M19.5833255,8.4166625 L0.4166665,8.4166625 C0.186666592,8.4166625 0,8.22999591 0,7.999996 C0,7.76999609 0.186666592,7.5833295 0.4166665,7.5833295 L19.5833255,7.5833295 C19.8133254,7.5833295 19.999992,7.76999609 19.999992,7.999996 C19.999992,8.22999591 19.8133254,8.4166625 19.5833255,8.4166625 Z" id="Shape"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 5 -->
    <!-- Row 6 -->
    <div class="grid__row grid--hidden">
      <div class="grid__case">K</div>
      <div class="grid__case">B</div>
      <div class="grid__case">F</div>
      <div class="grid__case grid__case--title title__first title__sub">N</div>
      <div class="grid__case grid__case--title title__sub">U</div>
      <div class="grid__case grid__case--title title__sub">M</div>
      <div class="grid__case grid__case--title title__sub">É</div>
      <div class="grid__case grid__case--title title__sub">R</div>
      <div class="grid__case grid__case--title title__sub">I</div>
      <div class="grid__case grid__case--title title__sub">Q</div>
      <div class="grid__case grid__case--title title__sub">U</div>
      <div class="grid__case grid__case--title title__sub">E</div>
      <div class="grid__case grid__case--title title__sub">S</div>
      <div class="grid__case">O</div>
      <div class="grid__case">P</div>
      <div class="grid__case"></div>
      <div class="grid__case grid__case--double">
        <div class="grid__subcase"></div>
        <div class="grid__subcase">
          <svg class="grid--hidden" width="24px" height="16px" viewbox="0 0 24 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
            <title>enter</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Toutes-les-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.2">
              <g id="Desktop---Home---Landing-Copy" transform="translate(-990.000000, -353.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="Landing">
                  <g id="Keyboard" transform="translate(261.000000, 285.000000)">
                    <g id="Return" transform="translate(665.000000, 51.000000)">
                      <g id="enter" transform="translate(64.000000, 17.000000)">
                        <path d="M23.5,0 C23.224,0 23,0.224 23,0.5 L23,10 L7,10 L7,5.501 C7,5.307 6.888,5.13 6.712,5.048 C6.538,4.967 6.33,4.992 6.18,5.116 L0.18,10.116 C0.066,10.211 0,10.352 0,10.5 C0,10.648 0.066,10.789 0.18,10.884 L6.18,15.884 C6.271,15.96 6.385,16 6.5,16 C6.572,16 6.645,15.984 6.712,15.954 C6.888,15.872 7,15.695 7,15.501 L7,11 L23.5,11 C23.776,11 24,10.776 24,10.5 L24,0.5 C24,0.224 23.776,0 23.5,0 Z M6,14.433 L1.281,10.5 L6,6.568 L6,14.433 Z" id="Shape"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 6 -->
    <!-- Row 7 -->
    <div class="grid__row">
      <div class="grid__case">Z</div>
      <div class="grid__case">Q</div>
      <div class="grid__case">Z</div>
      <div class="grid__case grid__case--triple">
        <div class="grid__subcase">
          <svg class="grid--hidden" width="14px" height="22px" viewbox="0 0 14 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
            <title>MAJ</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Toutes-les-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.2">
              <g id="Desktop---Home---Landing-Copy" transform="translate(-278.000000, -401.000000)">
                <g id="Landing">
                  <g id="Keyboard" transform="translate(261.000000, 285.000000)">
                    <g id="Maj" transform="translate(0.000000, 102.000000)">
                      <g id="MAJ" transform="translate(17.000000, 14.000000)">
                        <rect id="Rectangle" stroke="#FFFFFF" stroke-width="0.7" x="4.35" y="18.35" width="5.3" height="3.3" rx="1"></rect>
                        <path d="M9.67613783,17 L4.3375793,17 C4.15339903,17 4.00391939,16.8413862 4.00391939,16.6459513 L4.00391939,7.79473509 L0.3336604,7.79473509 C0.198861797,7.79473509 0.0774095908,7.70834722 0.0253586451,7.57664112 C-0.0260249808,7.44422692 0.00200245154,7.291986 0.0974291853,7.19072809 L6.75394436,0.104090303 C6.81667242,0.0375291569 6.90142204,0 6.99017557,0 C7.07892911,0 7.16367872,0.0375291569 7.22640679,0.103382206 L13.9022742,7.19001999 C13.997701,7.29127791 14.0263957,7.44351883 13.9743448,7.57593302 C13.9222938,7.70834722 13.8008416,7.79473509 13.666043,7.79473509 L10.0097977,7.79473509 L10.0097977,16.6459513 C10.0097977,16.8420943 9.8603181,17 9.67613783,17 Z M4.67123921,16.2919027 L9.34247793,16.2919027 L9.34247793,7.44068644 C9.34247793,7.24525158 9.49195756,7.08663779 9.67613783,7.08663779 L12.860588,7.08663779 L6.99017557,0.855381539 L1.13711346,7.08663779 L4.3375793,7.08663779 C4.52175957,7.08663779 4.67123921,7.24525158 4.67123921,7.44068644 L4.67123921,16.2919027 Z" id="Shape" fill="#FFFFFF" fill-rule="nonzero"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="grid__subcase"></div>
        <div class="grid__subcase"></div>
      </div>
      <div class="grid__case">Q</div>
      <div class="grid__case">S</div>
      <div class="grid__case">D</div>
      <div class="grid__case">F</div>
      <div class="grid__case">G</div>
      <div class="grid__case">H</div>
      <div class="grid__case">J</div>
      <div class="grid__case">K</div>
      <div class="grid__case">L</div>
      <div class="grid__case">M</div>
      <div class="grid__case">%</div>
      <div class="grid__case grid__case--noBorderTop"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 7 -->
    <!-- Row 8 -->
    <div class="grid__row grid__row__description">
      <div class="grid__case grid--hidden">Z</div>
      <div class="grid__case grid--hidden">Q</div>
      <div class="grid__case grid__case--description">
        <div class="grid__subcase subcase__description">
          <p>La Chaire de Recherche du Canada sur les Écritures Numériques a pour but d’offrir une nouvelle lecture de cette écriture qui racontre notre monde.</p>
        </div>
      </div>
      <div class="grid__case grid--hidden"></div>
      <div class="grid__case grid--hidden">/</div>
      <div class="grid__case grid--hidden">+</div>
      <div class="grid__case grid__case--double grid--hidden">
        <div class="grid__subcase"></div>
        <div class="grid__subcase">
          <svg width="14px" height="17px" viewbox="0 0 14 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 49.1 (51147) - http://www.bohemiancoding.com/sketch -->
            <title>shift</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Toutes-les-pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.13">
              <g id="Desktop---Home---Landing-Copy" transform="translate(-996.000000, -455.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="Landing">
                  <g id="Keyboard" transform="translate(261.000000, 285.000000)">
                    <g id="Shift-gauche-Copy" transform="translate(665.000000, 153.000000)">
                      <g id="Shift" transform="translate(70.000000, 17.000000)">
                        <g id="shift">
                          <path d="M9.67613783,17 L4.3375793,17 C4.15339903,17 4.00391939,16.8413862 4.00391939,16.6459513 L4.00391939,7.79473509 L0.3336604,7.79473509 C0.198861797,7.79473509 0.0774095908,7.70834722 0.0253586451,7.57664112 C-0.0260249808,7.44422692 0.00200245154,7.291986 0.0974291853,7.19072809 L6.75394436,0.104090303 C6.81667242,0.0375291569 6.90142204,0 6.99017557,0 C7.07892911,0 7.16367872,0.0375291569 7.22640679,0.103382206 L13.9022742,7.19001999 C13.997701,7.29127791 14.0263957,7.44351883 13.9743448,7.57593302 C13.9222938,7.70834722 13.8008416,7.79473509 13.666043,7.79473509 L10.0097977,7.79473509 L10.0097977,16.6459513 C10.0097977,16.8420943 9.8603181,17 9.67613783,17 Z M4.67123921,16.2919027 L9.34247793,16.2919027 L9.34247793,7.44068644 C9.34247793,7.24525158 9.49195756,7.08663779 9.67613783,7.08663779 L12.860588,7.08663779 L6.99017557,0.855381539 L1.13711346,7.08663779 L4.3375793,7.08663779 C4.52175957,7.08663779 4.67123921,7.24525158 4.67123921,7.44068644 L4.67123921,16.2919027 Z" id="Shape"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <div class="grid__case grid--hidden"></div>
      <div class="grid__case grid--hidden"></div>
      <div class="grid__case grid--hidden"></div>
      <div class="grid__case grid--hidden"></div>
      <div class="grid__case grid--hidden"></div>
      <div class="grid__case grid--hidden"></div>
    </div>
    <!-- End Row 8 -->
    <!-- Row 9 -->
    <div class="grid__row">
      <div class="grid__case">P</div>
      <div class="grid__case">X</div>
      <div class="grid__case">T</div>
      <div class="grid__case">J</div>
      <div class="grid__case">U</div>
      <div class="grid__case">Q</div>
      <div class="grid__case">P</div>
      <div class="grid__case">X</div>
      <div class="grid__case">T</div>
      <div class="grid__case">J</div>
      <div class="grid__case">U</div>
      <div class="grid__case">Q</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 9 -->
    <!-- Row 10 -->
    <div class="grid__row grid__row__tab">
      <div class="grid__case grid--hidden">G</div>
      <div class="grid__case grid--hidden">U</div>
      <a href="{{ home_url }}/rubriques/media" class="grid__case grid__case--tab grid__case--tab--left">
        <div class="grid__subcase">
          <h2>Média</h2>
        </div>
        <div class="grid__subcase">
          <div class="tab__arrow">
            >
          </div>
        </div>
      </a>
      <div class="grid__case grid__case--leftAdjacentBorder grid--hidden">C</div>
      <a href="{{ home_url }}/rubriques/edition" class="grid__case grid__case--tab grid__case--tab--right">
        <div class="grid__subcase">
          <h2>Édition</h2>
        </div>
        <div class="grid__subcase">
          <div class="tab__arrow">
            >
          </div>
        </div>
      </a>
      <div class="grid__case grid__case--leftAdjacentBorder grid--hidden">F</div>
      <a href="{{ home_url }}/rubriques/litterature" class="grid__case grid__case--tab grid__case--tab--left grid__case--tab--bottom">
        <div class="grid__subcase">
          <h2>Littérature</h2>
        </div>
        <div class="grid__subcase">
          <div class="tab__arrow">
            >
          </div>
        </div>
      </a>
      <div class="grid__case grid__case--leftAdjacentBorder grid--hidden"></div>
      <a href="{{ home_url }}/rubriques/philosophie" class="grid__case grid__case--tab grid__case--tab--bottom grid__case--tab--right">
        <div class="grid__subcase">
          <h2>Philosophie</h2>
        </div>
        <div class="grid__subcase">
          <div class="tab__arrow">
            >
          </div>
        </div>
      </a>
      <div class="grid__case grid__case--leftAdjacentBorder grid--hidden"></div>
      <div class="grid__case grid--hidden"></div>
      <div class="grid__case grid--hidden"></div>
    </div>
    <!-- End Row 10 -->
    <!-- Row 11 -->
    <div class="grid__row grid--hidden">
      <div class="grid__case">J</div>
      <div class="grid__case">V</div>
      <div class="grid__case">Q</div>
      <div class="grid__case">N</div>
      <div class="grid__case">G</div>
      <div class="grid__case">G</div>
      <div class="grid__case">M</div>
      <div class="grid__case">H</div>
      <div class="grid__case">O</div>
      <div class="grid__case">F</div>
      <div class="grid__case">P</div>
      <div class="grid__case">B</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 11 -->
    <!-- Row 12 -->
    <div class="grid__row grid--hidden">
      <div class="grid__case">T</div>
      <div class="grid__case">L</div>
      <div class="grid__case">S</div>
      <div class="grid__case grid__case--bold">C</div>
      <div class="grid__case grid__case--bold">H</div>
      <div class="grid__case grid__case--bold">A</div>
      <div class="grid__case grid__case--bold">I</div>
      <div class="grid__case grid__case--bold">R</div>
      <div class="grid__case grid__case--bold">E</div>
      <div class="grid__case">B</div>
      <div class="grid__case">M</div>
      <div class="grid__case">J</div>
      <div class="grid__case">S</div>
      <div class="grid__case">C</div>
      <div class="grid__case">M</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 12 -->
    <!-- Row 13 -->
    <div class="grid__row grid--hidden">
      <div class="grid__case">M</div>
      <div class="grid__case">D</div>
      <div class="grid__case">S</div>
      <div class="grid__case">V</div>
      <div class="grid__case">U</div>
      <div class="grid__case">M</div>
      <div class="grid__case">-</div>
      <div class="grid__case grid__case--bold">R</div>
      <div class="grid__case grid__case--bold">E</div>
      <div class="grid__case grid__case--bold">C</div>
      <div class="grid__case grid__case--bold">H</div>
      <div class="grid__case grid__case--bold">E</div>
      <div class="grid__case grid__case--bold">R</div>
      <div class="grid__case grid__case--bold">C</div>
      <div class="grid__case grid__case--bold">H</div>
      <div class="grid__case grid__case--bold">E</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 13 -->
    <!-- Row 14 -->
    <div class="grid__row grid--hidden">
      <div class="grid__case">X</div>
      <div class="grid__case">Z</div>
      <div class="grid__case">K</div>
      <div class="grid__case">Y</div>
      <div class="grid__case">B</div>
      <div class="grid__case">Z</div>
      <div class="grid__case">N</div>
      <div class="grid__case">M</div>
      <div class="grid__case">B</div>
      <div class="grid__case">X</div>
      <div class="grid__case">V</div>
      <div class="grid__case">E</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case grid__case--bold">C</div>
      <div class="grid__case grid__case--bold">A</div>
      <div class="grid__case grid__case--bold">N</div>
      <div class="grid__case grid__case--bold">A</div>
      <div class="grid__case grid__case--bold">D</div>
      <div class="grid__case grid__case--bold">A</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 14 -->
    <!-- Row 15 -->
    <div class="grid__row grid--hidden">
      <div class="grid__case">P</div>
      <div class="grid__case">X</div>
      <div class="grid__case">T</div>
      <div class="grid__case">J</div>
      <div class="grid__case">U</div>
      <div class="grid__case">Q</div>
      <div class="grid__case">P</div>
      <div class="grid__case">X</div>
      <div class="grid__case">T</div>
      <div class="grid__case">J</div>
      <div class="grid__case">U</div>
      <div class="grid__case">Q</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 15 -->
    <!-- Row 16 -->
    <div class="grid__row grid--hidden">
      <div class="grid__case">X</div>
      <div class="grid__case">Z</div>
      <div class="grid__case">E</div>
      <div class="grid__case">J</div>
      <div class="grid__case">B</div>
      <div class="grid__case">S</div>
      <div class="grid__case">B</div>
      <div class="grid__case">N</div>
      <div class="grid__case">B</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case">Y</div>
      <div class="grid__case">R</div>
      <div class="grid__case">J</div>
      <div class="grid__case"></div>
      <div class="grid__case">L</div>
      <div class="grid__case">D</div>
      <div class="grid__case">P</div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
      <div class="grid__case"></div>
    </div>
    <!-- End Row 16 -->
  </div>
</div>