<div class="project__card card__highlighted">
  <div class="card__surtitle">13 nov - 5 juin</div>
  <h3 class="card__title">
    {{post.title}}
  </h3>
  <div class="card__subtitle">
    Environnement, milieu, espace et architecture
  </div>
  <div class="card__footer">
    [ 11h30 - 13h30 ] Université de Montréal
  </div>
</div>