<div class="project__card">
  <div class="card__surtitle">13 nov - 5 juin</div>
  <h4 class="card__title">
    {{post.title}}
  </h4>
  <div class="card__footer">
    [ 11h30 - 13h30 ] Université de Montréal
  </div>
</div>