<div class="header__project__container">
  <a href="" class="header__project__back">
    <span>< </span>
    {{__('Back')}}</a>
  <div class="header__project__wrapper">
    <h1 class="header__project__title">{{post.title}}</h1>
    <a href="#" class="header__project__collection">Accéder à la collection
      <span>></span>
    </a>
  </div>
</div>