<section class="footer__discover">
  <div class="footer__discover__wrapper">
    <div class="footer__discover__page--previous">
      <p class="page__label">Précédent</p>
      <a href="#" class="page__title">Sens public</a>
    </div>
    <div class="footer__discover__page--next">
      <p class="page__label">Suivant</p>
      <a href="#" class="page__title">Technes</a>
    </div>
  </div>
</section>