<div class="discover__container">
  {% if related is not empty %}
    <h3 class="discover__title">découvrir aussi</h3>
  {% endif %}
  {% for post in related %}
    <div class="discover__item">
      <p class="item__research-field">{{post.research_field.name}}</p>
      <h5 class="item__title">{{post.post_title}}</h5>
      <p class="item__authors">
        {{post.domain}},
        {% for key, author in post.authors %}
          {% if key > 0 %},
          {% endif %}{{author.post_title}}
        {% endfor %}
      </p>
    </div>
  {% endfor %}
</div>