{% block html_head %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}">
		<header class="site-header">
			{% block header %}
				{% include 'partials/header.twig' %}
			{% endblock %}
		</header>

		<main role="main" class="site-main">
			{% block content %}
				{{__('Sorry, no content')}}
			{% endblock %}
		</main>

		<footer class="site-footer">
			{% block footer %}
				{% include 'footer.twig' %}
			{% endblock %}
		</footer>
		{{ function('wp_footer') }}
	</body>
</html>
