{% block html_head %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="site-header">
			<div class="site-header__wrapper">
				{% block header %}
					<a class="site-header__logo" href="{{site.link}}" rel="home">
						<img src="http://localhost:7777/hetic/H3/ecriture-numerique/wp-content/uploads/2018/03/logo.svg" alt="logo">
					</a>
					{% include 'partials/nav.twig' %}
				{% endblock %}
			</div>			
		</header>

		<main role="main" class="site-main">
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</main>

		<footer class="site-footer">
			{% block footer %}
				<div class="wrapper">
					{% include 'footer.twig' %}
				</div>
			{% endblock %}
		</footer>
		{{ function('wp_footer') }}

	</body>
</html>
