{% extends "base.twig" %}

{% block content %}
  <section class="legals">
    <div class="legals__container">
      <h1 class="legals__title">Mentions légales</h1>
      <div class="legals__paragraph">
        <h2 class="legals__subtitles">Nos informations</h2>
        <p class="legals__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem cupiditate eveniet inventore sunt corrupti repellendus tempore recusandae natus enim et repellat eius reprehenderit, explicabo quod quo. In asperiores consectetur praesentium.</p>
      </div>
    </div>
  </section>
{% endblock %}