{% extends "base.twig" %}

{% block content %}
	{% include "partials/background-lines.twig" %}
  <div class="page-rubrics rubrics__container">
    <div class="rubrics__header">
      <h2>{{__('rubriques', 'ecritures-numeriques')}}</h2>
      <p>
        {{ page.get_field('description') }}
      </p>
    </div>
    <ul class="rubrics__wrapper">
    {% for key,rubric in rubrics %}
      <li class="rubrics__item">
        {% if key == 0 %}
          <button class="item__button">théories<span>></span></button>
        {% elseif key == 1 %}
          <button class="item__button">axes<span>></span></button>
        {% elseif key == 2 %}
          <button class="item__button">objets de recherche<span>></span></button>
        {% elseif key == 3 %}
          <button class="item__button">concepts clés<span>></span></button>
        {% endif %}
        <ul class="item__wrapper">
          {% for item in rubric[0:19] %}
          <li class="rubrics__subItem">
            <a href="{{item.path}}">{{item.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
