{% extends 'base.twig' %}

{% block content %}

  {% include "components/single-header.twig" with {'title': post.title, 'subtitle': false, 'link': '#', 'previous': '#'} %}
  <!-- Project content -->
  <div class="single__wrapper project__wrapper">

    {% if discover is not empty %}
      {% include "components/single-discover.twig" %}
    {% endif %}

    <article class="single__container project {% if discovers is empty %} single__container--margin {% endif %}">
      <div class="single__content project__content">
        {{ post.get_field('content') }}
      </div>
      {% if tags is not empty %}
        {% include 'components/single-tags.twig' with {'tags': tags} %}
      {% endif %}
      {% if tags is not empty %}      
        <div>
          {% include "components/single-footer.twig" with {'previous_path': previous.path, 'previous_name': 'previous','next_path': next.path, 'next_name': 'next'} %}
        </div>
      {% else %}   
          {% include "components/single-footer.twig" with {'previous_path': previous.path, 'previous_name': 'previous','next_path': next.path, 'next_name': 'next'} %}
      {% endif %}
    </article>
  </div>

{% endblock %}