{% extends "base.twig" %}

{% block content %}
	{% include "partials/background-lines.twig" %}
	<div class="publication__container">
		{% include "partials/content-publication.twig" %}
	</div>
{% endblock %}
