{% extends 'base.twig' %}

{% block content %}

  <div class="member">
    <div class="member__resume">
      <header class="single__header__wrapper resume__header">
        <a href="#" class="single__header__previous header__previous">< {{__('retour')}}</a>
      </header>
      <div class="resume__container">
        <div class="resume__photo">
          <div class="photo"></div>
        </div>
        <div class="resume__section">
          <h1 class="resume__name">
            Jerome
          </h1>
          <div class="resume__post">
            Etudiant
          </div>
        </div>
        <div class="resume__section">
          <ul class="resume__works">
            <li>21 publications</li>
            <li>21 publications</li>
            <li>21 publications</li>
          </ul>
        </div>
        <div class="resume__section">
          <a href="mailto:tes@eok.fr" class="resume__mail">
            1232103120@gmail.xom
          </a>
          <ul class="resume__infos">
            <li><a href="#">1232103120@gmail.xom</a></li>
            <li><a href="#">1232103120@gmail.xom</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="member__about">

    </div>
  </div>

{% endblock %}