{% extends 'base.twig' %}

{% block content %}

  {% include "components/single-header.twig" with {'title': post.title, 'subtitle': false, 'link': post.project_link, 'previous': site_pages.all_projects} %}
  <!-- Project content -->
  <div class="single__wrapper project__wrapper">
    {% if post.related is not empty %}
      {% include 'components/single-discover.twig' with {'related': post.related} %}
    {% endif %}

    <article class="single__container project {% if post.related is empty %} single__container--margin {% endif %}">
      <p class="project__authors">
        {% for key, author in post.authors %}
          <a href="{{author.path}}">{{author.title}}</a>{{ key + 1 < post.authors|length ? ', ' : '' }}
        {% endfor %}
      </p>
      <div class="single__content project__content">
        {{ post.get_field('content') }}
      </div>
      {% if post.terms is not empty %}
        {% include 'components/single-tags.twig' with {'tags': post.terms} %}
      {% endif %}
      {% if post.terms is not empty %}      
        <div>
          {% include "components/single-footer.twig" with {'previous_path': post.previous_post.path, 'previous_name': post.previous_post.post_title,'next_path': post.next_post.path, 'next_name': post.next_post.post_title} %}
        </div>
      {% else %}   
          {% include "components/single-footer.twig" with {'previous_path': post.previous_post.path, 'previous_name': post.previous_post.post_title,'next_path': post.next_post.path, 'next_name': post.next_post.post_title} %}
      {% endif %}
    </article>
  </div>

{% endblock %}