{% extends 'base.twig' %}

{% block content %}

{% include "components/single-header.twig" with {'title': post.title, 'subtitle': false, 'link': '#', 'previous': '#'} %}
<!-- Project content -->
<div class="single__wrapper">
  {% include "components/single-discover.twig" %}

  <article class="single__container project">
    <p class="project__content">{{post.content}}</p>
    {% if tags is not empty %}
      <ul class="publication__tags">
        {% for tag in tags%}
          <li class="tag">{{tag.name}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% include "components/single-footer.twig" with {'previous_path': previous.path, 'previous_name': previous.name,'next_path': next.path, 'next_name': next.name} %}
  </article>
</div>

{% endblock %}