{% extends "base.twig" %}

{% block content %}
	{% include "partials/background-lines.twig" %}
	<div class="taxonomy__container">
		<header class="taxonomy__header">
			<a href="#" class="header__link">< retour aux rubriques</a>
			<h3 class="header__parent">concepts clés</h3>
			<h2 class="header__title">intermedialité</h2>
		</header>
		<div class="taxonomy__wrapper">
			<div class="taxonomy__about">
				<p>
					La notion d’intermédialité renvoie à une pluralité d’approches théoriques étudiant les relations entre les médias. Ces approches se rejoignent dans la primauté qu’elles accordent à la relation – qui vient ainsi avant les termes –, dans l’attention qu’elles portent à la matérialité de la médiation et, depuis quelques années, dans l’adoption de perspectives anti-essentialistes qui s’opposent à une conception des médias comme formes à l’identité fixe. L'intermédialité s'intéresse entre autres aux pratiques intermédiales, sans s'y limiter.
				</p>
				<div class="taxonomy__discovers">
					<h4>découvrir aussi</h4>
					<ul>
						<li>Espace numérique</li>
						<li>Espace numérique</li>
						<li>Espace numérique</li>
					</ul>
				</div>
				<footer class="taxonomy__footer">
					<div class="footer__link">
						<p>previous</p>
						<a href="#">Imaginaire / Réel</a>
					</div>
					<div class="footer__link">
						<p>next</p>
						<a href="#">Imaginaire / Réel</a>
					</div>
				</footer>
			</div>
			<div class="taxonomy__related">

			</div>
		</div>
	</div>
{% endblock %}
