
// ---
// Variables
// ---

// Welcome to the variables file!


// ---
// Screen sizes
// ---

// Read this NOW:
// http://bradfrostweb.com/blog/post/7-habits-of-highly-effective-media-queries/

// "Start with the small screen first, then expand until it looks like shit. Time for a breakpoint!"
// -Stephen Hay

$screen-xs: 		28em;
$screen-sm: 		35em;
$screen-md: 		52em;
$screen-lg: 		60em;

$padding: 7.5vw;
$padding-main: 8.3vw;



// ---
// Colors
// ---


$dark-blue: 	#121149;
$light-blue:  #364ad8;
$pink:        #f8cecd;

$dark-grey:   #a8a8a8;
$light-grey:  #f9f9fb;
$blue-grey:   #8888a4;
$border-grey: #2a295b;

$teal: 				#45B29D;
$yellow: 			#EFC94C;
$orange: 			#E27A3F;
$red: 				#DF4949;

// In art school I was told never to make white pure white and black pure black - not sure if that holds up for the world wide web, but maybe!
$white: #fcfcfe;
$black: #2e2e2e;


// Semantic Color Names
// http://thesassway.com/beginner/variable-naming

// These are nice utility colors
$color-accent-light: 	$light-blue;
$color-accent-med: 		$pink;
$color-accent-dark:		$dark-blue;

$color-text-light: 		$white;
$color-text-dark: 		$black;

// Then element-based names are nice too
$color-link: 		       $light-blue;
$color-link-hover: 		 darken($color-link, 20%);
$color-link-active: 	 darken($color-link, 60%);

// The most commonly rotated color:
$color-rotate-text:   $color-text-light;
$color-rotate-bkgd:   $color-accent-med;
$color-rotate-link:   $color-accent-light;


// ---
// Scale
// ---

// Use these values for font sizes, margins, padding, everything! It's nice to use consistent values instead of magic numbers (http://j.mp/smellycss).

// Also, rems are awesome. Here's an article about them:
// http://snook.ca/archives/html_and_css/font-size-with-rem
// And a small pen I made that explains them: http://codepen.io/laras126/pen/YyWLgz


$size-base:  		1rem;
$size-sml:  		$size-base*0.8;

$size-h1:  			$size-base*3;
$size-h2:  			$size-base*2;
$size-h3:  			$size-base*3;
$size-h4:  			$size-base*2.4;
$size-h5:  			$size-base*2.1;
$size-h6:  			$size-base;



// ---
// Typography
// ---

// Pretty standard.

$cabin: 		'Cabin', sans-serif;
$hind: 		  'Hind', sans-serif;
$source: 		'Source Code Pro', sans-serif;

// If you are using webfonts and are a good girl/boy, you will define some fallbacks (see the top of _typography.scss for where to use them):

// $sans-serif-fallback: Helvetica, sans-serif;
// $serif-fallback: Georgia, serif;

// Here's a relatively complicated article about web fonts and performance:
// http://artequalswork.com/posts/adventures-in-dynamic-subsetting/


// Semantic names

$line-height-base: 	1.5;

// $body-font-fallback:		$sans-serif-fallback;
// $heading-font-fallback:	$serif-fallback



// ----
// Helpers
// ----

// Shortcuts for things you might be typing a lot.

$color-accent-border: 1px dotted $color-accent-med;

// ----
// Transitions
// ----

$easing: cubic-bezier(0.48, 0.04, 0.52, 0.96);
