.footer__discover {
    margin: 6rem 0 10rem;
}

.footer__discover__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__discover__page {
    &--previous {
        text-align: left;
    }
    &--next {
        text-align: right;
    }
}

.page__label {
    @include font($source, 1.4rem, 400, $blue-grey, inherit, left);
}

a.page__title {
    @include font($source, 1.6rem, 600, $dark-blue, uppercase, left);
}