.single__footer {
  margin-top: auto;
}

.single__footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.single__footer__page {
  &--previous {
    text-align: left;
    .page__post {
      left: 0;
    }
  }
  &--next {
    text-align: right;
    .page__post {
      right: 0;
      text-align: right;
    }
  }
}

.page__label {
  margin-bottom: 3px;

  @include font($source, 1.4rem, 400, $dark-grey, inherit, inherit);
}

a.page__title {
  position: relative;

  @include font($source, 1.4rem, 600, $dark-blue, uppercase, inherit);
  .page__post {
    position: absolute;

    @include font($source, 1.2rem, 600, $dark-grey, uppercase, inherit);
  }
}