.single__header {
  background: $dark-blue;
  padding: 0 20px;
  padding-bottom: 30px;
  width: 100%;

  @include breakpoint(700px) {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 175px;
    justify-content: space-between;
    padding: 0 $padding-main;
  }
  .single__header__link {
    background: $pink;
    display: inline-block;
    justify-content: center;
    margin-left: auto;
    margin-top: 30px;
    padding: 20px;
    width: 100%;

    @include font($source, 1.4rem, 600, $dark-blue, uppercase, left);
    @include breakpoint(700px) {
      margin-top: 0;
      width: auto;
    }
    span {
      padding-left: 10px;
    }
  }
}

.single__header__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  a.single__header__previous {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 30px;

    @include font($source, 1.4rem, 600, $blue-grey, uppercase, left);
  }
  .single__header__parent {
    margin-bottom: 5px;

    @include font($source, 1.4rem, 600, $pink, uppercase, left);
    @include breakpoint(700px) {
      font-size: 1.6rem;
      margin-bottom: 0px;
    }
  }
  .single__header__title {
    @include font($hind, 2.7rem, 500, $white, capitalize, left);
    @include breakpoint(700px) {
      font-size: 2.9rem;
    }
  }
}