
// ---
// Base Site Styles
// ---

// Keep it mobile first, yo! Read this:
// http://www.abookapart.com/products/mobile-first
// Actually, just buy all of those books.

// Anyways, here's how I like to structure my content styles:


// Border box all the things:

*, *::before, *::after {
	 box-sizing: border-box;
}

// ---
// General Selectors
// ---

img {
	max-width: 100%;
}



// ---
// Main Site Content
// ---
html, body{
	width: 100%;
	height: 100%;
	// background: $dark-blue;
}

main.site-main{
	padding-top: 80px;
}

section.home-section{
	width: 100%;
}

header.section-header{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	@include breakpoint(800px){
		height: 78px;
	}	
	h2.header__title{
		width: 100%;
		padding: 0 30px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		@include font($hind, 2.0rem, 600, $dark-blue, uppercase, center);
		@include breakpoint(800px){
			min-width: 300px;
			width: calc(100% / 4);
		}
	}
	a.header__link{
		display: none;
		@include breakpoint(800px){
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;		
			margin-right: 50px;
			padding: 0 10px;
			@include font($source, 1.6rem, 600, $dark-blue, uppercase, center);
		}
	}
}

footer.section-footer{
	width: 100%;
	height: 60px;
	.footer__link{
		display: block;
		width: 100%;
		height: 100%;
		line-height: 60px;
		@include font($source, 1.4rem, 600, $dark-blue, uppercase, center);
	}
	@include breakpoint(800px){
		display: none;
	}
}

.single__content{
	@include font($hind, 1.4rem, 400, $black, inherit, left);
	line-height: 1.7;
}

// ---
// Media
// ---




// ---
// Footer
// ---




// ---
// Misc Utilities
// ---

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
