// ---
// Base Site Styles
// ---
// Keep it mobile first, yo! Read this:
// http://www.abookapart.com/products/mobile-first
// Actually, just buy all of those books.
// Anyways, here's how I like to structure my content styles:
// Border box all the things:
*,
*::before,
*::after {
  box-sizing: border-box;
}

// ---
// General Selectors
// ---
img {
  max-width: 100%;
}

// ---
// Main Site Content
// ---
html {
  background: $white;
}

html,
body {
  height: 100%;
  width: 100%;
}

main.site-main {
  padding-top: 60px;

  @include breakpoint(700px) {
    padding-top: 80px;
  }
}

section.home-section {
  width: 100%;
}

header.section-header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 100%;
  h2.header__title {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 30px;
    width: 100%;

    @include font($hind, 1.8rem, 600, $dark-blue, uppercase, center);
    @include breakpoint(800px) {
      min-width: 300px;
      width: calc(100% / 4);

      @include font($hind, 1.6rem, 600, $dark-blue, uppercase, center);
    }
  }
  a.header__link {
    display: none;

    @include breakpoint(800px) {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      margin-right: 50px;
      padding: 0 10px;

      @include font($source, 1.6rem, 600, $dark-blue, uppercase, center);
    }
  }
}

footer.section-footer {
  height: 60px;
  width: 100%;

  @include breakpoint(800px) {
    display: none;
  }
  .footer__link {
    display: block;
    height: 100%;
    line-height: 60px;
    width: 100%;

    @include font($source, 1.4rem, 600, $dark-blue, uppercase, center);
  }
}

.single__content {
  line-height: 1.7;

  @include font($hind, 1.4rem, 400, $black, inherit, left);
  img {
    background: $light-blue;
    display: block;
    height: auto;
    margin: 60px auto;
    max-width: 550px;
    width: 100%;
  }
  .content__youtube {
    background: $light-blue;
    display: flex;
    margin: 60px auto;
    max-width: 550px;
    position: relative;
    iframe {
      width: 100%;
    }
  }
}

// ---
// Media
// ---
// ---
// Footer
// ---
// ---
// Misc Utilities
// ---
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}