// ---
// Buttons
// ---

// Here's a simple button mixin. Instead of keeping it in utility/_mixin.scss, I'm putting it here so we can easily reference it without going into a new file.

@mixin button($background, $text-color: $color-text-light) {
	background-color: $background;
	color: $text-color;
	padding: $size-base $size-h4;
	text-decoration: none;
}
