.site-footer {
  background: $dark-blue;
  color: $white;
  overflow: hidden;
  width: 100%;
  .footer__wrapper {
    width: 100%;

    @include breakpoint(700px) {
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;
    }
  }
  .footer__section {
    margin-top: 60px;
    padding: 0 20px;

    @include breakpoint(700px) {
      margin-top: 80px;
      padding: 0 60px;
      width: calc(100% / 3);

      order: 3;
    }
    p {
      line-height: 1.62;
      margin: 0;

      @include font($hind, 1.3rem, 400, $blue-grey, inherit, 'left');
    }
  }
  .wrapper__socials {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include breakpoint(700px) {
      order: 1;
    }
    .icon {
      margin-bottom: 60px;
      width: 90px;

      @include breakpoint(700px) {
        margin-bottom: 80px;
      }
      svg {
        width: 100%;
      }
    }
    .socials_list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: auto;
      .social {
        border: 1px solid $pink;
        height: 38px;
        margin: 0 8px;
        width: 38px;
        a {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
          width: 100%;
          svg {
            height: 13px;
            width: 13px;

            fill: $pink;
          }
        }
      }
    }
  }
  .footer__description {
    @include breakpoint(700px) {
      order: 0;
    }
  }
  .wrapper__contact {
    h3 {
      margin: 0;

      @include font($hind, 1.3rem, 600, $pink, uppercase, 'left');
      @include breakpoint(700px) {
        text-align: right;
      }
    }
    p {
      margin-top: 10px;

      @include breakpoint(700px) {
        text-align: right;
      }
    }
  }
  .wrapper__partners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    flex-wrap: wrap;
    @include breakpoint(700px) {
      flex-wrap: nowrap;
    }
    a {
      align-items: center;
      display: flex;
      height: auto;
      justify-content: space-between;
      margin-bottom: 30px;
      width: calc((100% - 40px) / 2);

      @include breakpoint(700px) {
        margin: 0 22px 40px 22px;
        width: auto;

        flex-shrink: 1;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      img {
        height: auto;
        width: 100%;
      }
    }
  }
  .footer {
    align-items: center;
    border-top: 2px solid #403663;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;

    @include breakpoint(700px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 60px;

      order: 4;
    }
    a,
    p {
      @include font($hind, 1.3rem, 400, $blue-grey, inherit, 'center');
    }
    p {
      margin: 10px 0 0 0;

      @include breakpoint(700px) {
        margin: 0;
      }
    }
  }
}