.site-header{
  position: fixed;
  z-index: 100;
}

.site-header__wrapper{
  width: 100vw;
  height: 80px;
  background: $dark-blue;
  border-bottom: 1px solid rgba(#ffffff, .14);
  @include breakpoint(950px){
    padding: 0 7.5vw;
    display: flex;
    flex-direction: row;
  }
}

.site-header__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
  margin: 0 auto;
  @include breakpoint(950px){
    margin: 0;
  }
}

.site-header__nav{
  position: relative;
  width: 100vw;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  background: $dark-blue;
  transform: translateX(-100%);
  transition: transform .3s $easing;
  &.site-header__nav--hide{
    transform: translateX(0);    
  }
  @include breakpoint(950px){
    height: 80px;
    width: auto;
    margin-left: 50px;
    overflow-y: visible;   
    transform: translateX(0%);     
  }
}

.nav__trigger{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  span{
    width: 16px;
    height: 1px;
    background: $white;
    margin: 2px 0;
  }
  @include breakpoint(950px){
    display: none;
  }
}

.nav__wrapper{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  background: $dark-blue;
  padding: 0 40px;
  @include breakpoint(950px){
    flex-direction: row;
    padding: 0;
  }
  .nav__item{
    position: relative;
    width: 100%;
    height: auto;
    &:first-child{
      margin-top: 15px;
      @include breakpoint(950px){
        margin: 0;
      }      
    }
    @include breakpoint(950px){
      width: auto;
      height: 100%;
      &:hover{
        .item__drop{
          transform: translateY(0);
        }
      }
    }
    .item__link{
      display: block;
      padding: 15px 0;
      @include font($hind, 1.5rem, 500, $white, uppercase, left);
      background: $dark-blue;
      &:active{
        background: darken($dark-blue, 3%);
      }
      @include breakpoint(950px){
        @include font($hind, 1.3rem, 500, $white, uppercase, center);
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        border-bottom: 1px solid rgba(#ffffff, .14);
      }
    }
    .drop__trigger{
      display: flex;
      position: relative;
      padding-top: 45px;
      padding-bottom: 0;
      @include font($hind, 1.5rem, 500, $blue-grey, uppercase, left);
      &::before{
        content: "";
        position: absolute;
        top: 15px;
        left: -20px;
        right: -20px;
        height: 1px;
        background: rgba(#ffffff, .14);
        @include breakpoint(950px){
          display: none;
        }
      }
      @include breakpoint(950px){
        padding: 0 15px;
        @include font($hind, 1.3rem, 500, $white, uppercase, left);
        z-index: 100;
      }
    }
    .item__drop{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @include breakpoint(950px){
        display: block;
        width: auto;
        height: auto;
        background: $dark-blue;
        transition: transform .25s $easing;
        transform: translateY(-100%);
      }
      .drop__item{
        margin-right: 15px;
        &:nth-child(2n+1){
          min-width: 75px;
        }
        @include breakpoint(950px){        
          width: 100%;
          height: 40px;
        }
      }
      .drop__link{
        display: flex;
        align-items: center;
        padding: 10px 0;        
        width: 100%;
        height: 100%;
        white-space: nowrap;
        @include font($hind, 1.5rem, 500, $white, capitalize, left);
        background: $dark-blue;
        &:active{
          background: darken($dark-blue, 3%);
        }      
        @include breakpoint(950px){            
          padding: 0 15px;       
          @include font($hind, 1.3rem, 500, $white, uppercase, left);
        }
      }
    }
  }
}