.hero {
  background-color: $dark-blue;
  height: 100%; // max-height: 67rem;
  overflow-y: hidden;

  @include breakpoint(700px) {
    height: 65vh;
  }
  @include breakpoint(1023px) {
    height: calc(100vh - 60px - 80px);
    max-height: 810px;
  }
}

.hero__container {
  height: 100%;
  margin: 0 auto;
  max-width: 123rem;
  position: relative;
  width: 100%;

  @include breakpoint(700px) {
    width: 100vw;
  }
  @include breakpoint(1023px) {
    width: 90vw;
  }
  @include breakpoint(1244px) {
    max-width: 1230px;
    width: 85vw;
  }
}

.grid {
  // Single case
  &__case {
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 0;
    display: flex;
    height: 50px;
    justify-content: center;
    text-transform: uppercase;
    width: calc(100vw / 7);

    @include breakpoint(700px) {
      height: calc(100vw / 18);
      max-height: calc(123rem / 20);
      max-width: calc(123rem / 20);
      width: calc(100vw / 18);
    }
    @include breakpoint(1023px) {
      height: calc(90vw / 24);
      max-height: calc(123rem / 24);
      max-width: calc(123rem / 24);
      width: calc(90vw / 24);
    }
    @include breakpoint(1244px) {
      height: calc(90vw / 24);
      width: calc(85vw / 24);
    }
    @include font( $hind, 1.3rem, 500, rgba(255, 255, 255, 0.08), uppercase, center);
    &:not(:last-child) {
      border-right: 0;
    }
    /* Bold caracters */
    &--bold {
      @include breakpoint(700px) {
        color: rgba(255, 255, 255, 0.2);
      }
    }
    /* Double case */
    &--double {
      height: calc(100vw / 18);
      width: calc(100vw / 18);

      @include breakpoint(1023px) {
        height: calc(90vw / 24);
        max-width: calc(123rem / 24 * 2);
        width: calc(90vw / 24 * 2);
      }
      @include breakpoint(1244px) {
        width: calc(85vw / 24 * 2);
      }
    }
    /* Triple case */
    &--triple {
      width: calc(100% / 7);

      @include breakpoint(700px) {
        max-width: calc(100vw / 18);
        width: calc(100vw / 18);
      }
      @include breakpoint(1023px) {
        height: calc(90vw / 24);
        max-width: calc(123rem / 24 * 3);
        width: calc(90vw / 24 * 3);
      }
      @include breakpoint(1244px) {
        width: calc(85vw / 24 * 3);
      }
    }
    /* Description case */
    &--description {
      height: 100%;
      max-height: 100%;
      max-width: 100%;
      width: 100%;

      @include breakpoint(1023px) {
        height: inherit;
        max-width: calc(123rem / 24 * 11);
        width: calc(90vw / 24 * 11);
      }
      @include breakpoint(1244px) {
        width: calc(85vw / 24 * 11);
      }
    }
    /* Title case */
    &--title {
      border-left: 1px solid $light-grey;

      @include font($source, 3rem, 700, $light-grey, uppercase, center);
    }
    /* Tab links case */
    &--tab {
      border: 1px solid $pink;
      max-width: calc(123rem / 24 * 4);
      width: 50%;

      @include breakpoint(700px) {
        max-width: 50%;
        width: 50%;
      }
      @include breakpoint(1023px) {
        width: calc(90vw / 24 * 4);
      }
      @include breakpoint(1244px) {
        max-width: calc(1230px / 24 * 4);
        width: calc(85vw / 24 * 4);
      }
      @include breakpoint(1780px) {
        max-width: 50%;
        width: 50%;
      }
      h2 {
        margin-right: auto;
        padding-left: 2rem;

        @include font($hind, 1.4rem, 500, $light-grey, none, left);
      }
    }
    /* CSS special case */
    &--noBorderTop {
      @include breakpoint(1023px) {
        border-top: 0;
      }
    } // Handling border
    &--leftAdjacentBorder {
      border-right: 1px $border-grey solid;
      border-top: 1px solid $border-grey;

      @include breakpoint(1023px) {
        border: none;
        border-left: 1px $pink solid;
        border-right: 1px $border-grey solid;
        border-top: 1px solid $border-grey;
      }
    }
    /* Youtube notification */
    &--notification {
      color: rgba(255, 255, 255, 0.08);

      @include breakpoint(1023px) {
        color: $pink;
      }
    }
    &--popUp {
      background-color: $border-grey;
      border: 1px $pink solid;
      display: none;
      flex-direction: row;
      height: calc(100vw / 18);
      justify-content: space-around;
      width: calc(100vw / 18);

      @include breakpoint(1023px) {
        display: flex;
        height: calc(90vw / 24);
        max-width: calc(123rem / 24 * 7);
        width: calc(90vw / 24 * 7);
      }
      @include breakpoint(1244px) {
        width: calc(85vw / 24 * 7);
      }
    }
    &--thumbnail {
      background-image: url('../images/insert-img.jpg');
      background-position: center;
      background-size: cover;
      border: none;
    }
    &--popUp__content {
      border: none;
      border-left: 1px solid $pink;
      flex-direction: row;
      justify-content: space-around;
      max-width: calc(123rem / 24 * 6);
      width: calc(90vw / 24 * 6);
    }
  }
  /* Row */
  &__row {
    display: flex;
    height: 50px;
    overflow: hidden;

    flex-wrap: wrap;
    @include breakpoint(700px) {
      height: calc(100vw / 18);
    }
    @include breakpoint(1023px) {
      height: inherit;
      overflow: inherit;
    }
    &:first-child {
      .grid__case {
        border-top: none;
      }
    }
    /* Row description */
    &__description {
      height: 150px;

      @include breakpoint(1023px) {
        height: inherit;
      }
      .grid--hidden {
        display: none;

        @include breakpoint(1023px) {
          display: flex;
        }
      }
    }
    /* Row tab */
    &__tab {
      height: 100px;

      @include breakpoint(700px) {
        height: inherit;
      }
      .grid--hidden {
        display: none;

        @include breakpoint(1023px) {
          display: flex;
        }
        @include breakpoint(1780px) {
          display: none;
        }
      }
    }
  }
  &__subcase {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 50%;
  }
}

// Youtube notification popup
// Youtube notification live icon
.grid__case--live {
  position: relative;
}

.live--icon {
  background-color: rgba(248, 206, 205, 0.4);
  border-radius: 100%;
  display: inline-block;
  height: 1.5rem;
  left: calc(50%-1.5rem);
  position: absolute;
  top: calc(50%-1.5rem);
  width: 1.5rem;
}

.live--icon.grid--hidden {
  display: none;

  @include breakpoint(1023px) {
    display: inline-block;
  }
}

.live--dot {
  background-color: $pink;
  border-radius: 100%;
  display: inline-block;
  height: 0.5rem;
  left: calc(50% - 0.25rem);
  position: absolute;
  top: calc(50% - 0.25rem);
  width: 0.5rem;
}

// Youtube notification content
.popUp__label {
  font-size: 13px;
  text-transform: uppercase;

  @include font($source,
  1.3rem,
  700,
  $pink,
  uppercase,
  center);
}

.popUp__title {
  @include font($hind,
  1.2rem,
  500,
  $light-grey,
  none,
  center);
}

// H1 title
.title__first {
  border-left: 1px solid $border-grey;
}

.title__sub {
  color: $pink;
}

// Description
.subcase__description {
  padding: 20px 40px;
  width: 100%;

  @include breakpoint(1023px) {
    padding: 0;
    width: 95%;
  }
  p {
    @include font($source,
    1.2rem,
    500,
    $light-grey,
    uppercase,
    left);
    @include breakpoint(700px) {
      @include font($source,
      1.4rem,
      500,
      $light-grey,
      uppercase,
      left);
    }
    @include breakpoint(1023px) {
      @include font($source,
      1.2rem,
      500,
      $light-grey,
      uppercase,
      left);
    }
    @include breakpoint(1244px) {
      @include font($source,
      1rem,
      500,
      $light-grey,
      uppercase,
      left);
    }
  }
}

// Tab links
.tab__arrow {
  margin-left: auto;
  padding-right: 2rem;

  @include font($hind,
  1.6rem,
  500,
  $white,
  uppercase,
  left);
}

// Mobile style
.hero__title {
  left: 10%;
  letter-spacing: 8px;
  position: absolute;
  top: 100px;

  @include font($source,
  3.2rem,
  700,
  $white,
  uppercase,
  left);
  @include breakpoint(374px) {
    left: 50px;
  }
  @include breakpoint(700px) {
    display: none;
  }
  .hero__title--color {
    @include font($source,
    3.2rem,
    700,
    $pink,
    uppercase,
    left);
  }
}

.grid--hidden {
  display: none;

  @include breakpoint(700px) {
    display: flex;
  }
}

.grid__case--tab--left {
  border-left: none;

  @include breakpoint(1023px) {
    border-left: 1px solid #f8cecd;
  }
}

.grid__case--tab--bottom {
  border-top: none;

  @include breakpoint(1023px) {
    border-top: 1px solid #f8cecd;
  }
  @include breakpoint(1780px) {
    border-top: none;
  }
}

.grid__case.grid__case--tab--right {
  @include breakpoint(1780px) {
    border-right: 1px solid $pink;
  }
}

svg.grid--hidden {
  display: none;

  @include breakpoint(1023px) {
    display: inline-block;
  }
}