.single__wrapper{
  padding: 30px 20px 0 20px;
  @include breakpoint(700px) {
    display: flex;
    flex-direction: row;
    padding: 60px $padding-main 0 $padding-main;
  }
  .single__container{
    max-width: 790px;
    width: 100%;
    @include breakpoint(700px) {
      margin-left: calc(100% / 4 - 15vw);
      width: 55vw;
    }

    &--margin{
      @include breakpoint(700px) {
        margin-left: calc(100% / 4);
      }
    }
  
  }
}