.error__container {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error__title {
  @include font($source, 10rem, 700, $light-blue, inherit, center);
}

.error__text {
  @include font($hind, 1.6rem, 400, $dark-blue, inherit, center);
}