/**
* LANDING
*/
section.landing{
  width: 100%;
  height: calc(100vh - 158px);
  background: $dark-blue;
  padding: 0 $padding;
  .landing__container{
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      to right,
      rgba(255,255,255,.1),
      rgba(255,255,255,.1) 1px,
      $dark-blue 1px,
      $dark-blue 100px
    );
  }
}

/**
* EVENTS
*/
section.events{
  .events__header{
    background: $pink;
    .header__title{
      background: $dark-blue;
      border: 1px solid $border-grey;
		  @include font($hind, 2.0rem, 600, $white, uppercase, center)      
    }
    .header__link{
      line-height: 60px;
    }
  }

  .events__container{
    @include breakpoint(800px){
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .event__card{
      width: 100%;
      min-height: 240px;
      padding: 30px 20px;
      border: 1px solid $dark-grey;
      background: $light-grey;
      margin-top: -1px;
      display: flex;
      flex-direction: column;
      @include breakpoint(800px){
        width: calc(100% / 3);
        min-height: 350px;
        padding: 60px;
        &:nth-child(4){
          border-left: none;
          border-right: none;
        }
      }
      &:first-child{
        margin-top: 0px;
      }
      .card__surtitle{
        @include font($source, 1.4rem, 600, $light-blue, uppercase, left);
      }
      .card__title{
        margin: 20px 0;
        @include font($hind, 1.8rem, 500, $black, inherit, left);
        line-height: 1.61;                              
      }
      .card__footer{
        margin-top: auto;
        justify-self: flex-end;
        @include font($source, 1.4rem, 400, $dark-grey, inherit, left);        
      }
    }
    .card__highlighted{
      @include breakpoint(800px){
        width: calc(100% / 3 * 2);
        border-right: none;
        display: flex;
        flex-direction: row;
      }
      .card__content{
        @include breakpoint(800px){
          margin-left: 60px;
        }
      }
      .card__image{
        display: none;
        @include breakpoint(800px){
          display: block;     
          width: 200px;
          height: 230px;
          background: $light-blue;
          flex-shrink: 0;
        }
      }
      .card__title{
        @include font($hind, 2.2rem, 500, $black, inherit, left);
        margin-bottom: 10px;
      }
      .card__subtitle{
        margin: 10px 0;
        @include font($hind, 1.6rem, 500, $dark-grey, inherit, left);
        line-height: 1.61;    
      }
      .card__footer{
        padding-top: 30px;
      }
    }
  }
  .events__footer{
    background: $pink;
  }
}

/**
* PROJECTS
*/
section.projects{
  width: 100%;
  height: auto;
  margin-top: -1px;
  padding: 0;
  @include breakpoint(800px){
    padding: 0 $padding;
  }  
  .projects__header{
    border: 1px solid $dark-blue;
    background: $white;
    .header__title{
      background: $light-grey;
      @include breakpoint(800px){
        border-right: 1px solid $dark-blue;
      }
    }
  }
  .projects__container{
    padding: 120px 20px;
    width: 100%;
    height: auto;
    border-right: 1px solid #F3F3F6;
    background-size: calc(85vw / 10) calc(85vw / 10);
    background-image: linear-gradient(to right, #F3F3F6 1px, transparent 1px), linear-gradient(to bottom, #F3F3F6 1px, transparent 1px);
    @include breakpoint(800px){
      padding: 250px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .project__card{
      width: 100%;
      min-height: 245px;
      background: $white;
      border: 1px solid $dark-grey;
      border-top: none;
      overflow: hidden;
      padding: 0 25px 30px 25px;
      &:nth-child(4){
        border-bottom: none;
      }
      @include breakpoint(800px){
        width: calc(100% / 3);
        min-height: 330px;
        border: 1px solid $dark-grey;
        border-top: none;
        padding: 0 35px 35px 35px;
        &:nth-child(2){
          border-right: none;
        }
        &:nth-child(4){
          border-bottom: 1px solid $dark-grey;
          border-left: none; 
        } 
      }
      .card__label{
        margin: 30px auto 20px auto;
        @include font($source, 1.6rem, 600, $pink, uppercase, center);
        @include breakpoint(800px){
          margin-top: 60px;
        }
      }
      .card__title{
        @include font($hind, 1.8rem, 500, $dark-blue, inherit, center);
        line-height: 1.61;
      }
      .card__subtitle{
        margin-top: 30px;
        @include font($source, 1.4rem, 400, $dark-grey, inherit, center);
        line-height: 1.64;
      }
    }
  }
  .projects__footer .footer__link{
    border: 1px solid $dark-blue;
    background: $white;
  }
}

/**
* PUBLICATIONS
*/
section.publications{
  background: $dark-blue;
  overflow: hidden;
  .publications__header{
    border: 1px solid $light-grey;
    flex-shrink: 0;
    @include breakpoint(800px){
      border-left: none;
      border-right: none;
      border-top: none;
    }    
    .header__title, .header__link{
      color: $white;   
    }
    .header__title{
      @include breakpoint(800px){
        color: $dark-blue;
        background: $white;
      }
    }
  }
  .publications__container{
    @include breakpoint(800px){
      margin: 120px 60px;
      border: 1px solid $white;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .publications__wrapper{
    .publication__card{
      &:last-child{
        border-bottom: none;
      }
    }
    @include breakpoint(800px){
      width: calc(100% * 0.6);
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      .publication__card{
        width: 100%;
        border-bottom: none;
        border-right: none;   
        &:last-child{
          border-top: 1px solid $white;
        }
      }
    }    
  }
  .publication__card{
    padding: 30px 20px;
    border-bottom: 1px solid $light-grey;
    display: flex;
    flex-direction: column;
    @include breakpoint(800px){
      padding: 60px 60px 30px 60px;
      flex-shrink: 0;
      width: calc(100% * 0.4);
      border-right: 1px solid $white;
      border-bottom: none;      
    }
    .card__surtitle{
      @include font($source, 1.4rem, 600, $pink, uppercase, left);
      margin-bottom: 20px;
    }
    .card__title{
      @include font($hind, 2.2rem, 500, $light-grey, inherit, left);
    }
    .card__subtitle{
      @include font($hind, 1.8rem, 400, rgba($white, .5), inherit, left);
      margin-top: 20px;
      line-height: 1.61;
    }
    .card__footer{
      margin-top: auto;
    }
    .card__author{
      margin-top: auto;
      padding-top: 30px;
      @include font($source, 1.4rem, 400, $dark-grey, capitalize, left);
    }
    .card__source{
      margin-top: 10px;
      @include font($source, 1.4rem, 400, $dark-grey, capitalize, left);
    }
    .card__italic{
      @include font($cabin, 1.4rem, 400, $dark-grey, capitalize, left);
      font-style: italic;
    }
  }
  .publications__footer{
    border: 1px solid $light-grey;
    .footer__link{
      color: $white;
    }    
  }
}


section.rubriques{
  overflow: hidden;
  .rubriques__header{
    background: $pink;
    .header__title{
      background: $dark-blue;
      color: $light-grey;
    }
    .header__link{
      color: $dark-blue;
    }    
  }
  .rubriques__footer{
    background: $pink;
  }
  .rubriques__container{
    position: relative;
    padding: 120px 20px;
    @include breakpoint(700px){
      padding: 250px $padding;
    }
  }
  .rubriques__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include breakpoint(700px){
      position: relative;
    }    
    .rubriques__item{
      width: 100%;
      @include breakpoint(700px){
        width: calc(100% / 4);
        &:first-child{
          .item__button{
            border-left: 1px solid $dark-blue;
          }
        }
        &:nth-child(4){      
          .item__button{
            border-right: 1px solid $dark-blue;
          }
        }
      }
    }
    .item__button{
      width: 100%;
      height: 60px;
      padding: 0 20px;
      @include font($hind, 1.4rem, 600, $dark-grey, uppercase, left);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid $dark-blue;
      margin-top: -1px;
      transition: color .25s $easing;
      background: $white;
      span{
        transform: rotate(90deg);
        transition: transform .3s $easing;
        @include breakpoint(700px){
          display: none;
        }    
      }
      &.mobile-active{
        color: $dark-blue;
        span{
          transform: rotate(-90deg);
        }
      }
      @include breakpoint(700px){
        margin: 0;
        height: 78px;
        border-left: none;
        border-right: none;
        transition: none;
        background: none;        
        &.mobile-active{
          color: inherit;
        }
        &.desktop-active{
          color: $dark-blue;
        }
      }      
    }
    .item__wrapper{
      height: 0;
      overflow: hidden;
      transition: height .35s $easing;
      @include breakpoint(700px){
        position: absolute;
        top: 78px;
        left: 0;
        width: 100%;
        height: auto;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        &.desktop-active{
          display: flex;
        }
      }
    }
    .rubriques__subItem{
      width: 100%;
      height: 60px;
      border: 1px solid $dark-grey;
      border-top: none;
      background: $white;      
      @include breakpoint(700px){
        height: 78px;
        border: none;
        width: calc(100% / 4); 
        background: none;       
      }
      a{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        @include font($hind, 1.2rem, 500, $black, uppercase, center);
        @include breakpoint(700px){
          @include font($hind, 1.4rem, 500, $black, uppercase, center);
        }        
      }
    }
    .item__grid{
      display: none;
      @include breakpoint(700px){
        display: flex;
      }      
      width: 100%;
      // background: red;
      flex-direction: row;
      flex-wrap: wrap;
      div{
        border-bottom:  1px solid $dark-grey;
        width: calc(100% / 4);
        height: 78px;
      }
    }
  }
  .rubriques__lines{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    padding: 0 $padding;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .line{
      height: 100%;
      width: 1px;
      background: $dark-grey;
      &:nth-child(3){
        margin-top: 250px;
      }
    }
  }
}

section.social{
  border-top: 1px solid $dark-grey;
  background: $light-grey;
  width: 100%;
  height: 100%;
  @include breakpoint(700px){
    display: flex;
    flex-direction: row;
  }
  .social__section{
    width: 100%;
    @include breakpoint(700px){
      width: calc(100% /2 - 1px);
      &:last-child{
        width: calc(100% /2 + 1px);
        border-left: 1px solid $dark-grey;
      }
    }    
  }
  .social__header{
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include breakpoint(700px){
      padding: 60px;
    }    
    .header__label{
      @include font($source, 1.4rem, 600, $light-blue, uppercase, left);
      @include breakpoint(700px){
        font-size: 1.6rem;      
      }
      
    }
    .header__icone{
      width: 24px;
      height: 24px;
      path{
        fill: $light-blue;
      }
    }
  }
  .social__youtube{
    .video__thumbnail{
      position: relative;
      &::after{
        content: "";
        position: absolute;
        z-index: 10;        
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: darken($light-blue, 10%);
        mix-blend-mode: lighten;
      }
      &::before{
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: lighten($light-blue, 10%);
        mix-blend-mode: darken;        
      }
    }
    .youtube__video{
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      padding-bottom: 30px;
      &:last-child{
        border-bottom: 1px solid $dark-grey;
      }
      .video__thumbnail{
        width: 128px;
        height: 128px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img{
          height: auto;
          width: 100%;
          transform: scale(1.8);
        }
      }
      .video__content{
        padding-left: 20px;
      }
      .video__title{
        @include font($hind, 1.6rem, 500, $black, inherit, left);
        line-height: 1.5;
      }
      .video__views{
        @include font($source, 1.2rem, 600, $dark-grey, uppercase, left);
        margin: 0;
        margin-top: 10px;
      }
    }
    .video__highlight{
      padding: 0 20px;
      margin-bottom: 60px;
      .video__thumbnail{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc((100vw - 40px) / 1.78);
        overflow: hidden;
      }
      .video__title{
        @include font($hind, 1.8rem, 500, $black, inherit, left);
        padding: 0 5px;
        margin: 20px 0 10px 0;
        line-height: 1.5;
      }
      .video__views{
        @include font($source, 1.6rem, 600, $dark-grey, uppercase, center);
        margin: 0;
      }
    }
  }

  .social__twitter{
    #tweets{
      .twitter-feed{
        .ctf-item{
          border-top: 1px solid $dark-grey;
          padding: 30px 20px;
          margin: 0;
          @include breakpoint(700px){
            padding: 30px 60px;
          }
          .ctf-context{
            @include font($source, 1.2rem, 400, $dark-grey, uppercase, left);
            .ctf-retweet-text{
              color: $dark-grey !important;              
            }
            .ctf-retweet-icon{
              border-radius: 0;
              background: none;
              i{
                color: $dark-grey;
              }
            }
          }
          .ctf-author-name, .ctf-author-screenname, .ctf-tweet-meta{
            margin: 0;
          }
          .ctf-author-name{
            text-transform: capitalize;
          }
          .ctf-author-screenname{
            display: none;
          }
          .ctf-screename-sep{
            margin: 0 5px;
          }
          .ctf-tweet-date{
            @include font($source, 1.4rem, 600, $dark-grey, lowercase, left);            
          }

          .ctf-tweet-content{
            padding: 0;
            margin-top: 10px;
            .ctf-tweet-text{
              @include font($hind, 1.4rem, 400, $black, inherit, left);
              line-height: 1.5;      
              @include breakpoint(700px){
                font-size: 1.6rem;
              }
                    
            }
          }
        }
      }
    }
  }
}