/**
* LANDING
*/

section.landing {
  background: $dark-blue;
  height: calc(100vh - 158px);
  padding: 0 $padding;
  width: 100%;
  .landing__container {
    background: repeating-linear-gradient( to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, $dark-blue 1px, $dark-blue 100px);
    height: 100%;
    width: 100%;
  }
}

/**
* EVENTS
*/

section.home-events {
  .home-events__header {
    background: $pink;
    .header__title {
      background: $dark-blue;
      border: 1px solid $border-grey;

      @include font($hind, 1.6rem, 600, $white, uppercase, center);
    }
    .header__link {
      line-height: 60px;
    }
  }
  .home-events__container {
    @include breakpoint(800px) {
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;
    }
    .event__card {
      background: $light-grey;
      border: 1px solid $dark-grey;
      display: flex;
      flex-direction: column;
      margin-top: -1px;
      min-height: 240px;
      padding: 30px 20px;
      width: 100%;

      @include breakpoint(800px) {
        min-height: 350px;
        padding: 30px 60px;
        width: calc(100% / 3);
        &:nth-child(4) {
          border-left: none;
          border-right: none;
        }
      }
      :first-child,
      :nth-child(2) {
        margin-top: 0;
      }
      .card__image {
        display: none;

        @include breakpoint(800px) {
          background-color: $light-blue;
          background-repeat: no-repeat;
          background-size: cover;
          display: block;
          height: 120px;
          width: 100%;

          flex-shrink: 0;
        }
      }
      .card__surtitle {
        margin-top: 10px;

        @include font($source, 1.4rem, 600, $light-blue, uppercase, left);
        @include breakpoint(800px) {
          font-size: 1.2rem;
        }
      }
      .card__title {
        line-height: 1.4;
        margin: 10px 0 20px 0;

        @include font($hind, 1.8rem, 500, $black, inherit, left);
      }
      .card__footer {
        margin-top: auto;

        justify-self: flex-end;
        @include font($source, 1.4rem, 400, $dark-grey, inherit, left);
        @include breakpoint(800px) {
          font-size: 1.2rem;
        }
      }
    }
    .card__highlighted {
      @include breakpoint(800px) {
        border-right: none;
        display: flex;
        flex-direction: row;
        padding: 60px;
        width: calc(100% / 3 * 2);
      }
      .card__content {
        @include breakpoint(800px) {
          margin-left: 60px;
        }
      }
      .card__image {
        display: none;

        @include breakpoint(800px) {
          background-color: $light-blue;
          background-repeat: no-repeat;
          background-size: cover;
          display: block;
          height: 230px;
          width: 200px;

          flex-shrink: 0;
        }
      }
      .card__title {
        line-height: 1.4;
        margin-bottom: 10px;

        @include font($hind, 2.2rem, 500, $black, inherit, left);
        @include breakpoint(800px) {
          font-size: 2rem;
        }
      }
      .card__subtitle {
        line-height: 1.61;
        margin: 10px 0;

        @include font($hind, 1.4rem, 500, $dark-grey, inherit, left);
        @include breakpoint(800px) {
          font-size: 1.6rem;
        }
      }
      .card__footer {
        padding-top: 30px;
      }
    }
  }
  .events__footer {
    background: $pink;
  }
}

/**
* PROJECTS
*/

section.projects {
  height: auto;
  margin-top: -1px;
  padding: 0;
  width: 100%;

  @include breakpoint(800px) {
    padding: 0 $padding;
  }
  .projects__header {
    background: $white;
    border: 1px solid $dark-blue;
    .header__title {
      background: $light-grey;

      @include breakpoint(800px) {
        border-right: 1px solid $dark-blue;
      }
    }
    a.header__link {
      @include breakpoint(800px) {
        padding: 0;
      }
    }
  }
  .projects__container {
    background-image: linear-gradient(to right, #f3f3f6 1px, transparent 1px), linear-gradient(to bottom, #f3f3f6 1px, transparent 1px);
    background-size: calc((100vw - 20px) / 20) calc((100vw - 20px) / 20);
    height: auto;
    padding: 120px 20px;
    position: relative;
    width: 100%;

    @include breakpoint(800px) {
      background-size: calc((100vw - 15vw) / 33) calc((100vw - 15vw) / 33);
      display: flex;
      flex-direction: row;
      margin-top: 1px;
      padding: 250px 0;

      flex-wrap: wrap;
    }
    &::after {
      background: #f3f3f6;
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      z-index: -1;
    }
    .project__card {
      background: $white;
      border: 1px solid $dark-grey;
      border-top: none;
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 245px;
      overflow: hidden;
      padding: 0 25px 30px 25px;
      width: 100%;

      @include breakpoint(800px) {
        border: 1px solid $dark-grey;
        border-top: none;
        min-height: 330px;
        padding: 0 35px 35px 35px;
        width: calc(100% / 3);
        &:nth-child(2) {
          border-right: none;
        }
        &:nth-child(4) {
          border-bottom: 1px solid $dark-grey;
          border-left: none;
        }
      }
      &:nth-child(4) {
        border-bottom: none;
      }
      .card__label {
        margin: 30px auto 20px auto;

        @include font($source, 1.4rem, 600, $pink, uppercase, center);
        @include breakpoint(800px) {
          margin-top: 60px;
        }
      }
      .card__title {
        line-height: 1.5;

        @include font($hind, 1.8rem, 500, $dark-blue, inherit, center);
        @include breakpoint(800px) {
          height: 90px;
        }
      }
      .card__subtitle {
        display: none;
        line-height: 1.6;
        margin-top: 30px;

        @include font($source, 1.4rem, 400, $dark-grey, inherit, center);
        @include breakpoint(800px) {
          display: inline-block;
          font-size: 1.6rem;
        }
      }
    }
  }
  .projects__footer .footer__link {
    background: $white;
    border: 1px solid $dark-blue;
  }
}

/**
* PUBLICATIONS
*/

section.home-publications {
  background: $dark-blue;
  overflow: hidden;
  .publications__header {
    border: 1px solid $light-grey;

    flex-shrink: 0;
    @include breakpoint(800px) {
      border-left: none;
      border-right: none;
      border-top: none;
    }
    .header__title,
    .header__link {
      color: $white;
    }
    .header__title {
      @include breakpoint(800px) {
        background: $white;
        color: $dark-blue;
      }
    }
  }
  .publications__container {
    @include breakpoint(800px) {
      border: 1px solid $white;
      display: flex;
      flex-direction: row;
      margin: 120px 60px;

      flex-wrap: wrap;
    }
  }
  .publications__wrapper {
    @include breakpoint(800px) {
      display: flex;
      flex-direction: column;
      width: calc(100% * 0.6);

      flex-wrap: nowrap;
      .publication__card {
        border-bottom: none;
        border-right: none;
        width: 100%;
        &:last-child {
          border-top: 1px solid $white;
        }
      }
    }
    .publication__card {
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .publication__card {
    border-bottom: 1px solid $light-grey;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;

    @include breakpoint(800px) {
      border-bottom: none;
      border-right: 1px solid $white;
      padding: 60px 60px 30px 60px;
      width: calc(100% * 0.4);

      flex-shrink: 0;
    }
    .card__surtitle {
      margin-bottom: 20px;

      @include font($source, 1.4rem, 600, $pink, uppercase, left);
    }
    .card__title {
      @include font($hind, 2.0rem, 500, $light-grey, inherit, left);
    }
    .card__subtitle {
      line-height: 1.61;
      margin-top: 20px;

      @include font($hind, 1.4rem, 400, rgba($white, 0.5), inherit, left);
    }
    .card__footer {
      margin-top: auto;
    }
    .card__terms {
      margin-top: auto;
      padding-top: 30px;

      @include font($source, 1.4rem, 400, $dark-grey, capitalize, left);
    }
    .card__source {
      margin-top: 10px;

      @include font($source, 1.2rem, 400, $dark-grey, capitalize, left);
    }
    .card__italic {
      font-style: italic;

      @include font($cabin, 1.4rem, 400, $dark-grey, capitalize, left);
    }
  }
  .publications__footer {
    border: 1px solid $light-grey;
    .footer__link {
      color: $white;
    }
  }
}

section.home-section.rubrics {
  overflow: hidden;
  .rubrics__header {
    background: $pink;
    .header__title {
      background: $dark-blue;
      color: $light-grey;
    }
    .header__link {
      color: $dark-blue;
    }
  }
  .rubrics__footer {
    background: $pink;
  }
  .rubrics__container {
    padding: 120px 20px;
    position: relative;

    @include breakpoint(700px) {
      padding: 250px $padding;
    }
  }
  .rubrics__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    flex-wrap: wrap;
    @include breakpoint(700px) {
      position: relative;
    }
    .rubrics__item {
      width: 100%;

      @include breakpoint(700px) {
        width: calc(100% / 4);
        &:first-child {
          .item__button {
            border-left: 1px solid $dark-blue;
            &.desktop-active {
              &::before {
                background: $dark-blue;
                content: '';
                height: 100%;
                position: absolute;
                right: -1px;
                top: 0px;
                width: 1px;
              }
            }
          }
        }
        &:nth-child(2) {
          .item__button {
            &.desktop-active {
              &::after {
                background: $dark-blue;
                content: '';
                height: 100%;
                left: 0px;
                position: absolute;
                top: 0px;
                width: 1px;
              }
              &::before {
                background: $dark-blue;
                content: '';
                height: 100%;
                position: absolute;
                right: 0px;
                top: 0px;
                width: 1px;
              }
            }
          }
        }
        &:nth-child(3) {
          .item__button {
            &.desktop-active {
              &::after {
                background: $dark-blue;
                content: '';
                height: 100%;
                left: -1px;
                position: absolute;
                top: 0px;
                width: 1px;
              }
              &::before {
                background: $dark-blue;
                content: '';
                height: 100%;
                position: absolute;
                right: 0px;
                top: 0px;
                width: 1px;
              }
            }
          }
        }
        &:nth-child(4) {
          .item__button {
            border-right: 1px solid $dark-blue;
            &.desktop-active {
              &::after {
                background: $dark-blue;
                content: '';
                height: 100%;
                left: -1px;
                position: absolute;
                top: 0px;
                width: 1px;
              }
            }
          }
        }
      }
    }
    .item__button {
      background: $white;
      border: 1px solid $dark-blue;
      display: flex;
      flex-direction: row;
      height: 60px;
      justify-content: space-between;
      margin-top: -1px;
      padding: 0 20px;
      transition: color 0.25s $easing;
      width: 100%;

      @include font($hind, 1.4rem, 600, $dark-grey, uppercase, left);
      @include breakpoint(700px) {
        background: none;
        border-left: none;
        border-right: none;
        height: 78px;
        margin: 0;
        position: relative;
        transition: none;
        &.mobile-active {
          color: inherit;
        }
        &.desktop-active {
          color: $dark-blue;
        }
      }
      span {
        transform: rotate(90deg);
        transition: transform 0.3s $easing;

        @include breakpoint(700px) {
          display: none;
        }
      }
      &.mobile-active {
        color: $dark-blue;
        span {
          transform: rotate(-90deg);
        }
      }
    }
    .item__wrapper {
      height: 0;
      overflow: hidden;
      position: relative;
      transition: height 0.35s $easing;

      @include breakpoint(700px) {
        display: none;
        flex-direction: row;
        height: auto;
        left: 0;
        position: absolute;
        top: 78px;
        width: 100%;

        flex-wrap: wrap;
        &.desktop-active {
          display: flex;
        }
      }
      &::after {
        background: $dark-grey;
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
    .rubrics__subItem {
      background: $white;
      border: 1px solid $dark-grey;
      border-top: none;
      height: 60px;
      width: 100%;

      @include breakpoint(700px) {
        background: none;
        border: none;
        height: 78px;
        width: calc(100% / 4);
      }
      a {
        align-items: center;
        display: flex;
        height: 100%;
        padding: 0 20px;
        width: 100%;

        @include font($hind, 1.2rem, 500, $black, uppercase, center);
        @include breakpoint(700px) {
          font-size: 1.4rem;
        }
      }
    }
    .item__grid {
      display: none; // background: red;
      flex-direction: row;
      width: 100%;

      @include breakpoint(700px) {
        display: flex;
      }
      flex-wrap: wrap;
      div {
        border-bottom: 1px solid $dark-grey;
        height: 78px;
        width: calc(100% / 4);
      }
    }
  }
  .rubrics__lines {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    left: 0;
    padding: 0 $padding;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    .line {
      background: $dark-grey;
      height: 100%;
      width: 1px;
      &:nth-child(3) {
        margin-top: 250px;
      }
    }
  }
}

section.social {
  background: $light-grey;
  border-top: 1px solid $dark-grey;
  height: 100%;
  width: 100%;

  @include breakpoint(700px) {
    display: flex;
    flex-direction: row;
  }
  .social__section {
    width: 100%;

    @include breakpoint(700px) {
      width: calc(100% / 2 - 1px);
      &:last-child {
        border-left: 1px solid $dark-grey;
        width: calc(100% / 2 + 1px);
      }
    }
    @include breakpoint(1136px) {
      width: calc(100% / 2);
    }
  }
  .social__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px;
    width: 100%;

    @include breakpoint(700px) {
      padding: 60px;
    }
    .header__label {
      @include font($source, 1.4rem, 600, $light-blue, uppercase, left);
      @include breakpoint(700px) {
        font-size: 1.6rem;
      }
    }
    .header__icon {
      height: 24px;
      width: 24px;
      path {
        fill: $light-blue;
      }
    }
  }
  .social__youtube {
    border-bottom: 1px solid $dark-grey;

    @include breakpoint(950px) {
      border-bottom: none;
    }
    .video__thumbnail {
      position: relative;
      &::after {
        background: darken($light-blue, 5%);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 10;

        mix-blend-mode: lighten;
      }
      &::before {
        background: lighten($light-blue, 10%);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

        mix-blend-mode: darken;
      }
      .thumbnail__hover {
        align-items: center;
        border: 1px solid $white;
        display: flex;
        height: 48px;
        justify-content: center;
        position: relative;
        width: 48px;
        z-index: 3;
        svg {
          height: 16px;
          width: 16px;
          path {
            fill: $white;
          }
        }
      }
    }
    .youtube__video {
      display: flex;
      flex-direction: row;
      margin: 0 20px;
      margin-bottom: 30px;

      @include breakpoint(950px) {
        margin: 0 60px;
        margin-bottom: 30px;
      }
      .video__thumbnail {
        align-items: center;
        background-color: $light-blue;
        background-position: -45px;
        background-size: cover;
        display: flex;
        height: 128px;
        justify-content: center;
        overflow: hidden;
        width: 128px;

        flex-shrink: 0;
        @include breakpoint(950px) {
          max-width: calc(128px * 1.78);
          min-width: 128px;
          width: 40%;
        }
      }
      .video__content {
        padding-left: 20px;

        @include breakpoint(950px) {
          padding-left: 30px;
        }
      }
      .video__title {
        line-height: 1.5;

        @include font($hind, 1.6rem, 500, $black, inherit, left);
        @include breakpoint(950px) {
          font-size: 1.8rem;
        }
      }
      .video__views {
        margin: 0;
        margin-top: 10px;

        @include font($source, 1.2rem, 600, $dark-grey, uppercase, left);
        @include breakpoint(950px) {
          font-size: 1.2rem;
        }
      }
    }
    .video__highlight {
      display: block;
      margin: 0 20px;
      margin-bottom: 60px;

      @include breakpoint(950px) {
        margin: 0 60px;
        margin-bottom: 60px;
      }
      .video__thumbnail {
        align-items: center;
        background-color: $light-blue;
        background-position: -45px;
        background-size: cover;
        display: flex;
        height: calc((100vw - 40px) / 1.78);
        justify-content: center;
        overflow: hidden;
        width: 100%;

        @include breakpoint(950px) {
          height: calc((50vw - 120px) / 1.78);
        }
      }
      .video__title {
        line-height: 1.5;
        margin: 20px 0 10px 0;
        padding: 0 5px;

        @include font($hind, 1.8rem, 500, $black, inherit, left);
        @include breakpoint(950px) {
          font-size: 2rem;
          margin: 20px 0 10px 0;
          padding: 0;
        }
      }
      .video__views {
        margin: 0;

        @include font($source, 1.2rem, 600, $dark-grey, uppercase, center);
        @include breakpoint(950px) {
          text-align: left;
        }
      }
    }
  }
  .social__twitter {
    #tweets {
      .twitter-feed {
        .ctf-item {
          border-top: 1px solid $dark-grey;
          margin: 0;
          padding: 30px 20px;

          @include breakpoint(950px) {
            padding: 30px 60px;
          }
          .ctf-context {
            @include font($source, 1.2rem, 400, $dark-grey, uppercase, left);
            .ctf-retweet-text {
              color: $dark-grey !important;
            }
            .ctf-retweet-icon {
              background: none;
              border-radius: 0;
              i {
                color: $dark-grey;
              }
            }
          }
          .ctf-author-name,
          .ctf-author-screenname,
          .ctf-tweet-meta {
            margin: 0;
          }
          .ctf-author-name {
            text-transform: capitalize;

            @include font($hind, 1.6rem, 700, $dark-grey, none, left);
          }
          .ctf-author-screenname {
            display: none;
          }
          .ctf-screename-sep {
            margin: 0 5px;
          }
          .ctf-tweet-date {
            @include font($source, 1.4rem, 600, $dark-grey, lowercase, left);
          }
          .ctf-tweet-content {
            margin-top: 10px;
            padding: 0;
            .ctf-tweet-text {
              line-height: 1.5;

              @include font($hind, 1.4rem, 400, $black, inherit, left);
            }
          }
        }
      }
    }
  }
}