.legals {
    min-height: calc(100vh - 80px - 300px);
    padding: 60px 0;
}

.legals__container {
    margin: 0 auto;
    max-width: 1024px;
    width: 90%;
}

.legals__title {
    margin-bottom: 10px;
}

.legals__text {
    @include font($hind, 1.2rem, 400, $dark-blue, inherit, left);
}