.legals {
    min-height: calc(100vh - 80px - 300px);
    padding: 60px 0;
}

.legals_bold {
    font-weight: 700;
}

.legals__container {
    margin: 0 auto;
    max-width: 1024px;
    width: 90%;
}

.legals__section {
    margin-bottom: 40px;
}

.legals__title {
    margin-bottom: 10px;
}

.legals__subtitles {
    padding-bottom: 10px;
}

.legals__text {
    @include font($hind, 1.4rem, 400, $dark-blue, inherit, left);
}

.legals__informations__text {
    padding: 5px 0;
}