.members{
  padding: 0 20px;
  @include breakpoint(700px) {
    padding: 0 calc(8.3vw - 30px);
  }
}
.members__presentation{
  margin-top: 60px;
  .presentation__subtitle{
    @include font($source, 1.4rem, 600, $light-blue, uppercase, center);
    margin-bottom: 10px;
  }
  .presentation__title{
    @include font($hind, 2rem, 600, $dark-blue, uppercase, center);
  }
  .presentation__content{
    margin-top: 20px;
    @include font($hind, 1.6rem, 400, $dark-blue, inherit, left);
    line-height: 1.6;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 60px auto 0;
    @include breakpoint(700px) {
      text-align: center;
    }
  }
}

.members__container{
  display: flex;
  flex-direction: column;
}

.members__list{
  margin-top: 60px;
  order: 1;
  &.list--top{
    order: 0;
  }
  &:last-child{
    margin-bottom: 60px;
  }
  .list__title{
    @include font($source, 1.4rem, 600, $light-blue, uppercase, center);
  }
  .list__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    @include breakpoint(700px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .list__member{
      display: block;
      width: 100%;
      margin: 60px 0 0 0;
      @include breakpoint(700px) {
        margin: 60px 30px 0 30px;
        width: 250px;
      }
      .member__photo{
        width: 100%;
        height: calc(100vw - 40px);
        background-color: $light-blue;
        background-size: cover;
        filter: grayscale(1);
        @include breakpoint(700px) {
          width: 250px;
          height: 250px;
        }
      }
      .member__name{
        margin-top: 20px;
        @include font($hind, 1.8rem, 500, $black, capitalize, left);
      }
      .member__post{
        @include font($source, 1.4rem, 400, $dark-grey, inherit, left);
      }
    }
  }
}