.publications{
  min-height: calc(100vh - 80px);
}

.publications__header{
  width: 100%;
  height: 60px;
  background: $dark-blue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid $dark-grey;
  border-top: 1px solid $dark-grey;
  .header__nav{
    flex-shrink: 0;
    width: $padding-main;
    height: 100%;
    background: $pink;
    opacity: 1;
    transition: opacity .2s $easing;
    user-select: none;
    @include font($source, 1.4rem, 400, $black, uppercase, center);
    &:first-child{
      border-right: 1px solid $dark-grey;
    }
    &:last-child{
      border-left: 1px solid $dark-grey;
    }
    &.header__nav--disable{
      pointer-events: none;
      opacity: 0;
    }
  }
  .header__wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    .header__list{
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      transition: transform .3s $easing;
      .header__item{
        flex-shrink: 0;
        width: calc((100vw - 16.6vw - 15px) / 5);
        height: 100%;
        border-left: 1px solid $dark-grey;
        &:first-child{
          border-left: none;
        }
        &:last-child{
          border-right: 1px solid $dark-grey;
        }
        button{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include font($hind, 1.3rem, 500, $white, uppercase, center);
          &.item--active{
            background: $white;
            color: $dark-blue;
          }
        }
      }
    }
  }
}