.member{
  width: 100%;
  display: flex;
  flex-direction: column;
  @include breakpoint(1024px) {
    height: calc(100vh - 80px);
    flex-direction: row;
  }
  .member__resume{
    position: relative;
    width: 100%;
    height: auto;
    background: $light-grey;
    display: flex;
    flex-direction: column;
    padding: 0 20px 30px 20px;
    @include breakpoint(1024px) {
      width: 42%;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 0 $padding-main;
    }
    .resume__header{
      width: 100%;
      height: auto;
      @include breakpoint(1024px) {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: $padding-main;
      }
      .header__previous{
        margin: 30px auto 20px 0;
      }
    }
  }
  .member__about{
    width: 100%;
    padding: 0 20px;
    @include breakpoint(1024px) {
      width: 58%;
      height: 100%;
      overflow-y: scroll;
      padding: 0 $padding-main;
    }
  }
}

.resume__container{
  width: 100%;
  height: auto;
  background: $white;
  border: 1px solid $dark-grey;
  .resume__photo{
    width: 100%;
    height: calc(100vw - 40px);
    padding: 20px;
    @include breakpoint(1024px) {
      height: calc(42vw - ((8.3vw) * 2));
      padding: 60px;
    }
    .photo{
      width: 100%;
      height: 100%;
      background: $light-blue;
      background-size: cover;
      filter: grayscale(1);
    }
  }
  .resume__section{
    padding: 20px 10px;
    border-top: 1px solid $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .resume__name{
    @include font($hind, 1.8rem, 500, $black, capitalize, center)
  }
  .resume__post{
    margin-top: 5px;
    @include font($hind, 1.4rem, 500, $dark-grey, capitalize, center)
  }
  .resume__works{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    li{
      @include font($source, 1.2rem, 400, $light-blue, capitalize, center);
      margin: 0 10px;
    }
  }
  .resume__mail{
    margin: 0 auto;
    @include font($hind, 1.2rem, 400, $dark-grey, lowercase, center);
  }
  .resume__infos{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    li{
      margin: 0 10px;
      a{
        @include font($hind, 1.2rem, 400, $blue-grey, capitalize, center);
      }
    }
  }
}

.member__about{
  .about__wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 30px 0 90px 0;
    @include breakpoint(1024px) {
      padding: $padding-main 0;
      min-height: calc(100vh - 80px);
    }
    .about__content{
      margin-bottom: 20px;
      @include breakpoint(1024px) {
        margin-bottom: 40px;
      }
    }

    .about__highlighted{
      border: 1px solid $dark-blue;
      background: $light-grey;
      padding: 20px;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      @include breakpoint(1024px) {
        flex-direction: row;
        margin-bottom: 40px;
        align-items: center;
      }
      .highlighted__title{
        width: 100%;
        flex-shrink: 1;
        margin-bottom: 10px;
        @include font($hind, 1.6rem, 500, $dark-blue, inherit, left);
        @include breakpoint(1024px) {
          margin-bottom: 0px;
          width: 30%;
        }
      }
      .highlighted__content{
        margin-left: 0px;
        @include font($hind, 1.4rem, 400, $dark-grey, inherit, left);
        @include breakpoint(1024px) {
          margin-left: 60px;
        }
      }
    }

    .about__footer{
      margin-top: auto;
    }
  }
  .about__posts{
    margin-top: -59px;
    .section__post{
      margin-bottom: 40px;
      .post__header{
        height: 60px;
        padding: 0 20px;
        background: $light-grey;
        border: 1px solid $dark-blue;
        display: flex;
        align-items: center;
        @include font($hind, 1.6rem, 600, $dark-blue, uppercase, left);
      }
      .post__list{
        .list__section{
          padding: 0 20px;
          height: 40px;
          display: flex;
          flex-direction: row;
          align-items: center;
          border: 1px solid $dark-grey;
          border-top: none;
          background: $light-grey;
          @include font($source, 1.4rem, 600, $light-blue, uppercase, left);
        }
        .list__item {
          background: $white;
          border: 1px solid $dark-grey;
          border-top: none;
          display: flex;
          flex-direction: column;
          min-height: 90px;
          padding: 20px;
          width: 100%;
          @include breakpoint(1024px) {
            flex-direction: row;
            align-items: center;
          }
          .item__title {
            line-height: 1.5;
            margin-right: 20px;
            width: 100%;

            @include font($hind, 1.4rem, 500, $black, inherit, left);
            @include breakpoint(1024px) {
              width: auto;
            }
          }
          .item__about {
            margin-left: 0;
            margin-top: 15px;

            flex-shrink: 0;
            @include breakpoint(1024px) {
              margin-left: auto;
              margin-top: 0;
            }
            .item__author {
              @include font($source, 1.2rem, 500, $light-blue, capitalize, left);
            }
            .item__date {
              margin-top: 5px;

              @include font($hind, 1.2rem, 400, $dark-grey, capitalize, left);
            }
          }
        }
      }
    }
  }
}