.project__wrapper {
  min-height: calc(100vh - (80px + 175px));
  
  .project{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    .project__content {
      @include font($hind, 1.4rem, 400, $black, inherit, left);
      margin-bottom: 120px;
    }
  }
}