.publication__container {
  min-height: 100vh;
  .publication__header {
    display: flex;
    flex-direction: column;

    @include breakpoint(700px) {
      flex-direction: row;
    }
  }
  .publication__cover {
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: center;
    margin-bottom: 30px;
    width: auto;

    flex-shrink: 0;
    @include breakpoint(700px) {
      margin-bottom: 0;
      margin-right: 60px;
    }
    img {
      background-color: $light-blue;
      height: 100%;
      width: auto;
    }
  }
  .publication__authors {
    @include font($source, 1.4rem, 600, $light-blue, uppercase, left);
  }
  .publication__title {
    line-height: 1.37;
    margin: 20px 0;
    margin-top: 10px;

    @include font($hind, 2.7rem, 500, $black, inherit, left);
    @include breakpoint(700px) {
      font-size: 2.6rem;
      line-height: 1.56;
      &.title--first{
        font-size: 3rem;
      }
    }
    &.title--italic {
      font-style: italic;
    }
  }
  .publication__date {
    margin-top: 10px;

    @include font($source, 1.4rem, 400, $dark-grey, inherit, left);
    a {
      color: darken($dark-grey, 20%);
    }
    .date__uppercase {
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
  .publication__link {
    align-items: center;
    background-color: $pink;
    display: inline-block;
    height: 60px;
    line-height: 58px;
    margin-top: 40px;
    padding: 0 40px;
    width: 100%;

    @include font($source, 1.6rem, 600, $dark-blue, uppercase, center);
    @include breakpoint(700px) {
      font-size: 1.2rem;
      width: auto;
    }
  }
  .publication__content {
    margin-top: 60px;
  }
  .single-tags {
    padding-bottom: 0;
  }
  .publication__transition {
    height: 10px;
    margin-top: 20px;
    position: relative;
    width: 100%;

    @include breakpoint(700px) {
      margin-top: 50px;
    }
    &::before {
      background: $dark-blue;
      content: "";
      height: 10px;
      left: 0;
      position: absolute;
      top: 0;
      width: 120px;
    }
    &::after {
      background: rgba(24, 26, 28, 0.06);
      content: "";
      height: 10px;
      position: absolute;
      right: 0;
      top: 0;
      width: calc(100% - 130px);
    }
  }
}