.taxonomy__container{
  width: 100%;
  min-height: calc(100vh - 80px);
  height: auto;
  .taxonomy__header{
    width: 100%;
    height: 175px;
    background: $dark-blue;
    padding-left: 10vw;
    .header__link{
      display: inline-block;
      margin-top: 25px;
      @include font($source, 1.4rem, 600, $blue-grey, uppercase, left);      
    }
    .header__parent{
      margin-top: 30px;
      @include font($source, 1.6rem, 600, $pink, uppercase, left);      
    }
    .header__title{
      margin-top: 0px;
      @include font($hind, 3rem, 500, $white, capitalize, left);      
    }
  }
  .taxonomy__wrapper{
    width: 100%;
    min-height: calc(100vh - 175px - 80px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .taxonomy__about{
      width: 50vw;
      min-height: calc(100vh - 175px - 80px);
      padding: 60px 60px 60px 10vw;
      display: flex;
      flex-direction: column;
      p{
        @include font($hind, 1.8rem, 400, $black, inherit, left);
        line-height: 1.56;
        margin-bottom: 60px;
      }
      .taxonomy__discovers{
        margin-top: auto;
        h4{
          @include font($source, 1.4rem, 600, $black, uppercase, left);
          margin-bottom: 10px;
        }
        ul{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          li{
            margin-right: 10px;
            margin-bottom: 10px;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            background: $light-grey;
            @include font($cabin, 1.4rem, 400, $dark-grey, inherit, center);
            font-size: 1.6rem; 
          }
        }
      }
      .taxonomy__footer{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .footer__link{
          p{
            @include font($source, 1.4rem, 400, $dark-grey, capitalize, left);
            margin-bottom: 10px;
          }
          a{
            @include font($source, 1.6rem, 600, $light-blue, uppercase, left);
          }
          &:last-child{
            p{
              text-align: right;
            }
          }
        }
      }
    }
    .taxonomy__related{
      width: 50vw;
      min-height: calc(100vh - 175px - 20px );
      background: green;
      margin-top: -60px;  
    }
  }
}