.project-wrapper {
    // project-wrapper style is available on _sidebar-discover
}

.header__project__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.header__project__title {
    @include font($hind, 2.9rem, 400, $light-grey, inherit, left);
}

.project {
    max-width: 79rem;
}

.project__content {
    @include font($hind, 1.4rem, 400, $black, inherit, left);
}