.event {
  margin: 0;

  @include breakpoint(700px) {
    margin: 30px 0 120px;
  } // CSS for the single__header
  .single__header__wrapper {
    left: 7vw;
    position: absolute;

    @include breakpoint(700px) {
      left: 0;
      position: relative;
    }
  }
}

.event__container {
  padding: 0;

  @include breakpoint(700px) {
    padding: 0 7.5vw;
  }
}

// CSS for the content of the single event
.event__wrapper {
  @include breakpoint(700px) {
    margin: 0 auto;
    max-width: 790px;
  }
}

.event__cover_image {
  height: 220px;

  @include breakpoint(700px) {
    border: 1px solid #b9b9b9;
  }
  img {
    height: 100%;
    width: 100%;

    object-fit: cover;
  }
}

.event__infos {
  display: flex;
  flex-direction: column;

  @include breakpoint(700px) {
    border: 1px solid #b9b9b9;
    border-top: none;
    flex-direction: row;
    height: 130px;
  }
}

.event__infos:last-child {
  display: none;
  flex-direction: column;

  @include breakpoint(700px) {
    display: flex;
    flex-direction: row;
    height: 80px;
  }
}

.infos__left,
.infos__right {
  align-items: center;
  border: 1px solid #b9b9b9;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 0 30px;

  @include breakpoint(700px) {
    border: none;
    height: inherit;
    justify-content: center;
    min-width: 188px;
  }
}

.infos__right {
  align-items: flex-start;
  border-top: none;
  flex-direction: column;
  height: 100%;
  padding: 15px 30px;

  @include breakpoint(700px) {
    border-left: 1px solid #b9b9b9;
    justify-content: center;
    min-width: auto;
  }
}

.infos__date {
  @include font($source, 1.6rem, 600, $light-blue, uppercase, left);
  @include breakpoint(700px) {
    @include font($source, 1.4rem, 600, $light-blue, uppercase, left);
  }
}

.infos__hour {
  @include font($source, 1.4rem, 400, $blue-grey, uppercase, left);
  &--mobile {
    padding-left: 10px;

    @include breakpoint(700px) {
      display: none;
    }
  }
}

.infos__title {
  @include font($hind, 1.8rem, 700, $black, none, left);
}

.infos__location {
  @include font($source, 1.4rem, 400, $blue-grey, none, left);
  &--mobile {
    margin-top: 5px;

    @include breakpoint(700px) {
      display: none;
    }
  }
}

// Main content
.event__content__container {
  padding: 30px 20px 120px;

  @include breakpoint(700px) {
    padding: 60px 0 120px;
  }
}

.event__description {
  line-height: 2.6rem;
  padding-bottom: 60px;
  p {
    @include font($hind, 1.4rem, 400, $black, none, left);
  }
  h2 {
    margin-bottom: 30px;

    @include font($source, 1.6rem, 600, $light-blue, uppercase, center);
  }
  h3 {
    @include font($hind, 1.6rem, 500, $black, none, left);
  }
  .content__youtube {
    text-align: center;
    iframe {
      width: 100%;

      @include breakpoint(700px) {
        width: 510px;
      }
    }
  }
}